flow.json
[{"id":"1f65e450.19ba9c","type":"tab","label":"Desabilitado","disabled":true,"info":""},{"id":"b5ab8ba.7eb7578","type":"tab","label":"Inicialização","disabled":false,"info":""},{"id":"b1828f58.199e6","type":"tab","label":"TryCatch","disabled":false,"info":""},{"id":"49ecca28.ef9cc4","type":"tab","label":"SKU","disabled":false,"info":""},{"id":"7e8bd831.628288","type":"tab","label":"Ordem","disabled":false,"info":""},{"id":"93413fb0.966e1","type":"tab","label":"Produção","disabled":false,"info":""},{"id":"fa212271.2d00f","type":"tab","label":"Operacional","disabled":false,"info":""},{"id":"deb5e2ac.bf7d9","type":"ui_tab","z":"","name":"Receitas","icon":"receipt","order":2,"disabled":false,"hidden":false},{"id":"62eb2591.81fb2c","type":"ui_group","z":"","name":"Criar SKU","tab":"deb5e2ac.bf7d9","order":2,"disp":true,"width":"18","collapse":false},{"id":"90d07383.5a36","type":"cloudant","z":"","host":"8c46d960-1fe3-4931-a83e-2c1842052ecb-bluemix.cloudant.com","name":"BD Cloudant"},{"id":"1fcaf060.6cd5f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"IIoT","default":"#4B7930","baseColor":"#4a755e","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#1bbfff","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":true},"widget-backgroundColor":{"value":"#0094ce","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"485819ea.514d78","type":"ui_group","z":"","name":"Alterar SKU","tab":"deb5e2ac.bf7d9","order":3,"disp":true,"width":"18","collapse":false},{"id":"8179319f.da615","type":"ui_group","z":"","name":"Abrir ordem","tab":"a26260b5.0c7c5","order":3,"disp":true,"width":"18","collapse":true},{"id":"a26260b5.0c7c5","type":"ui_tab","z":"","name":"Ordem","icon":"archive","order":3,"disabled":false,"hidden":false},{"id":"bd160cb1.3394e","type":"ui_group","z":"","name":"Consultar ordem","tab":"a26260b5.0c7c5","order":2,"disp":true,"width":"18","collapse":false},{"id":"141a5297.cc40fd","type":"ui_group","z":"","name":"Selecionar SKU","tab":"deb5e2ac.bf7d9","order":1,"disp":false,"width":"6","collapse":false},{"id":"ac03d5c3.0df428","type":"ui_spacer","name":"spacer","group":"141a5297.cc40fd","order":1,"width":"1","height":"5"},{"id":"4bb83922.d144c8","type":"ui_spacer","name":"spacer","group":"141a5297.cc40fd","order":2,"width":"5","height":1},{"id":"b2d9c17f.f4c43","type":"ui_spacer","name":"spacer","group":"141a5297.cc40fd","order":8,"width":"5","height":1},{"id":"75f697ce.0b2378","type":"ui_group","z":"","name":"Deletar SKU","tab":"deb5e2ac.bf7d9","disp":true,"width":"18","collapse":false},{"id":"89d6e588.8cf598","type":"ui_spacer","name":"spacer","group":"485819ea.514d78","order":5,"width":"16","height":"2"},{"id":"3915cecb.4b6d32","type":"ui_group","z":"","name":"Selecionar Ordem","tab":"a26260b5.0c7c5","order":1,"disp":false,"width":"6","collapse":false},{"id":"b25ef2bb.d769d","type":"ui_spacer","name":"spacer","group":"3915cecb.4b6d32","order":1,"width":1,"height":"5"},{"id":"92e29cb6.6be8","type":"ui_spacer","name":"spacer","group":"3915cecb.4b6d32","order":2,"width":"5","height":1},{"id":"4c47a616.9a8898","type":"ui_spacer","name":"spacer","group":"3915cecb.4b6d32","order":6,"width":"5","height":1},{"id":"f52d6df9.0e76b","type":"ui_spacer","name":"spacer","group":"75f697ce.0b2378","order":2,"width":"18","height":"1"},{"id":"711cf87f.3b7128","type":"ui_tab","z":"","name":"Produção","icon":"fa-gears","order":1,"disabled":false,"hidden":false},{"id":"b11f2258.53dd7","type":"ui_group","z":"","name":"Quadro de Produção - Linha 1","tab":"711cf87f.3b7128","order":2,"disp":true,"width":"18","collapse":false},{"id":"361751bb.55a20e","type":"ui_group","z":"","name":"Selecionar Linha","tab":"711cf87f.3b7128","order":1,"disp":false,"width":"6","collapse":false},{"id":"ac58133c.5d745","type":"ui_spacer","name":"spacer","group":"361751bb.55a20e","order":2,"width":"5","height":1},{"id":"542f9b8d.5a2944","type":"ui_spacer","name":"spacer","group":"361751bb.55a20e","order":4,"width":"5","height":1},{"id":"a390ef0a.a4e46","type":"ui_spacer","name":"spacer","group":"361751bb.55a20e","order":1,"width":1,"height":"3"},{"id":"db01d65c.4c9438","type":"ui_spacer","name":"spacer","group":"b11f2258.53dd7","order":2,"width":1,"height":1},{"id":"91ae1a41.8ce6b8","type":"ui_spacer","name":"spacer","group":"b11f2258.53dd7","order":5,"width":"18","height":1},{"id":"933030ae.8865c","type":"ui_group","z":0,"name":"Production","tab":"c2d523b9.6e296","order":3,"disp":true,"width":"25","collapse":true},{"id":"c2d523b9.6e296","type":"ui_tab","z":0,"name":"OEE Online","icon":"assessment","order":1,"disabled":false,"hidden":false},{"id":"8090cd43.cc5dc","type":"ui_group","z":"","name":"Operator","tab":"5de7826a.319eac","order":1,"disp":true,"width":"25","collapse":true},{"id":"5de7826a.319eac","type":"ui_tab","z":0,"name":"OEE Online","icon":"assessment","order":1,"disabled":false,"hidden":false},{"id":"a47fd2da.c3af2","type":"ui_group","z":"","name":"Operator","tab":"5baf2746.0ac298","order":1,"disp":true,"width":"25","collapse":true},{"id":"5baf2746.0ac298","type":"ui_tab","z":0,"name":"OEE Online","icon":"assessment","order":1,"disabled":false,"hidden":false},{"id":"d2e6589b.753438","type":"ui_group","z":"","name":"Operator","tab":"3075150e.514f0a","order":1,"disp":true,"width":"25","collapse":true},{"id":"3075150e.514f0a","type":"ui_tab","z":0,"name":"OEE Online","icon":"assessment","order":1,"disabled":false,"hidden":false},{"id":"31adc9b9.9f9376","type":"ui_group","z":"","name":"HORIZONTAL","tab":"86c69a23.c52d08","disp":true,"width":"6","collapse":false},{"id":"86c69a23.c52d08","type":"ui_tab","z":"","name":"WIDGETS","icon":"dashboard","order":1},{"id":"8f9e3ede.7e55f","type":"ui_group","z":"","name":"VERITCAL","tab":"b33648c4.2189f8","order":2,"disp":true,"width":"8","collapse":false},{"id":"d3722337.8e98e","type":"ui_group","z":"","name":"HORIZONTAL","tab":"b33648c4.2189f8","disp":true,"width":"6","collapse":false},{"id":"1ae62bb.82f3bd4","type":"ui_group","z":"","name":"SITE","tab":"1e494d5a.843333","disp":true,"width":"6","collapse":false},{"id":"b33648c4.2189f8","type":"ui_tab","z":"","name":"WIDGETS","icon":"dashboard","order":1},{"id":"1e494d5a.843333","type":"ui_tab","z":"","name":"MAIN","icon":"dashboard","order":1},{"id":"2cfb9136.b0c45e","type":"ui_form","z":"49ecca28.ef9cc4","name":"","label":"","group":"62eb2591.81fb2c","order":1,"width":0,"height":0,"options":[{"label":"Nome do SKU","value":"sku","type":"text","required":true},{"label":"Velocidade padrão (pçs/min)","value":"velocidade","type":"number","required":true},{"label":"Ativo","value":"estado","type":"switch","required":true}],"formValue":{"sku":"","velocidade":"","estado":false},"payload":"","submit":"Salvar","cancel":"Limpar","topic":"","x":170,"y":380,"wires":[["c89c5d22.a7511"]]},{"id":"497f304e.70cbb","type":"cloudant out","z":"49ecca28.ef9cc4","name":"Salvar SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","payonly":false,"operation":"insert","x":890,"y":380,"wires":[]},{"id":"881811d5.21d58","type":"function","z":"49ecca28.ef9cc4","name":"Cria ciclo e _id","func":"var lista = global.get('listasku');\nvar index = lista.length\nvar msg1 = []\nfor(index in lista){\n    if(msg.payload.sku === lista[index]){\n        msg1 = { \"payload\": 'Este SKU já é cadastrado'};\n        return [null,msg1]\n    } \n}\nmsg.payload.ciclo = parseInt((msg.payload.velocidade / 60)*1000)/1000;\nreturn [msg,null];\n","outputs":2,"noerr":0,"x":680,"y":360,"wires":[["497f304e.70cbb","ee21c467.60e158","9d55bf06.0693d"],["c42786ce.a68428"]]},{"id":"6a74e635.460d18","type":"moment","z":"49ecca28.ef9cc4","name":"Data","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY - HH:mm:ss","locale":"pt_BR","output":"payload.data","outputType":"msg","outTz":"America/Sao_Paulo","x":490,"y":380,"wires":[["881811d5.21d58"]]},{"id":"317c7761.2c0f48","type":"cloudant in","z":"49ecca28.ef9cc4","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_all_","design":"","index":"","x":840,"y":260,"wires":[["14d3f64b.fbc96a"]]},{"id":"6b904b6d.f387c4","type":"comment","z":"49ecca28.ef9cc4","name":"Criar um novo SKU","info":"Criar um novo SKU","x":210,"y":320,"wires":[]},{"id":"ba141daa.5a9db","type":"comment","z":"49ecca28.ef9cc4","name":"Após criar e deletar atualiza lista de SKU","info":"Após criar e deletar atualiza lista de SKU","x":280,"y":200,"wires":[]},{"id":"24b0d504.80da4a","type":"comment","z":"49ecca28.ef9cc4","name":"Seleciona um SKU para deletar","info":"Seleciona um SKU para deletar","x":250,"y":460,"wires":[]},{"id":"2ffc2fbf.07eb4","type":"ui_dropdown","z":"49ecca28.ef9cc4","name":"Droplist deletar SKU","label":"Selecione um SKU para apagar","tooltip":"","place":"Selecione um SKU","group":"75f697ce.0b2378","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":380,"y":540,"wires":[["1e7ab9b6.774db6"]]},{"id":"a7b8fbce.99ddf8","type":"ui_button","z":"49ecca28.ef9cc4","name":"Limpar","group":"75f697ce.0b2378","order":3,"width":"4","height":"1","passthru":false,"label":"Cancelar","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"null","payloadType":"json","topic":"","x":170,"y":540,"wires":[["2ffc2fbf.07eb4"]]},{"id":"54e0f6c8.389fc8","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"deletarSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[[]]},{"id":"46aabcc5.006ed4","type":"ui_button","z":"49ecca28.ef9cc4","name":"Apagar","group":"75f697ce.0b2378","order":4,"width":"4","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"null","payloadType":"json","topic":"","x":160,"y":600,"wires":[["af3b5319.53d54","633f1ba5.420bb4","2ffc2fbf.07eb4"]]},{"id":"af3b5319.53d54","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deletarSKU","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":600,"wires":[["66d99031.ea83c"]]},{"id":"66d99031.ea83c","type":"cloudant in","z":"49ecca28.ef9cc4","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_id_","design":"","index":"","x":580,"y":600,"wires":[["ab2ae5e7.aff1c8","4fcc4ad0.812764"]]},{"id":"ab2ae5e7.aff1c8","type":"cloudant out","z":"49ecca28.ef9cc4","name":"Deletar SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","payonly":false,"operation":"delete","x":790,"y":600,"wires":[]},{"id":"b1040f1b.863f5","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["ee1150c0.6b923"]]},{"id":"4af72fce.bb7a9","type":"comment","z":"49ecca28.ef9cc4","name":"Alterar SKU","info":"Alterar SKU","x":190,"y":700,"wires":[]},{"id":"adf16cf6.ad84e","type":"ui_dropdown","z":"49ecca28.ef9cc4","name":"Droplist alterar SKU","label":"Selecione um SKU para alterar","tooltip":"","place":"Selecione um SKU","group":"485819ea.514d78","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":300,"y":760,"wires":[["27922ce8.7d5244"]]},{"id":"3bbc91d2.95a70e","type":"function","z":"49ecca28.ef9cc4","name":"Escreve lista","func":"var lista = global.get(\"listasku\") || [];\nvar listaatual = flow.get('listaskuatual') || [];\nif (lista.length != listaatual.length || msg.topic === 999){\n    flow.set('listaskuatual',lista)\n    return msg\n}","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["f6f97615.a43f58"]]},{"id":"94d1bfa9.e87e2","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"alterarSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":760,"wires":[["90adfa82.aa99f8"]]},{"id":"90adfa82.aa99f8","type":"cloudant in","z":"49ecca28.ef9cc4","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_id_","design":"","index":"","x":980,"y":760,"wires":[["68aa8376.6df53c","e4a09676.5108a8"]]},{"id":"68aa8376.6df53c","type":"function","z":"49ecca28.ef9cc4","name":"Split","func":"var msg1 = { payload: msg.payload.payload.sku,\n             enabled: true};\nvar msg2 = { payload: msg.payload.payload.velocidade,\n             enabled: true};\nvar msg3 = { payload: msg.payload.payload.estado,\n             enabled: true};\nvar msg4 = { payload: msg.payload.payload.data};\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":1170,"y":760,"wires":[["84b98fa9.131ab"],["6749a804.460438"],["47993d78.1201c4"],["b8e873f2.f798c"]]},{"id":"84b98fa9.131ab","type":"ui_text_input","z":"49ecca28.ef9cc4","name":"Nome do SKU","label":"Nome do SKU","tooltip":"","group":"485819ea.514d78","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":1400,"y":720,"wires":[["897db7f2.526ee8"]]},{"id":"6749a804.460438","type":"ui_text_input","z":"49ecca28.ef9cc4","name":"Velocidade do SKU","label":"Velocidade do SKU (pç/min)","tooltip":"","group":"485819ea.514d78","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":1410,"y":760,"wires":[["7e8cff8f.2c71"]]},{"id":"897db7f2.526ee8","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"novoNomeSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":720,"wires":[[]]},{"id":"7e8cff8f.2c71","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"novaVelocidadeSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":760,"wires":[[]]},{"id":"6d2794d8.22c80c","type":"ui_button","z":"49ecca28.ef9cc4","name":"Limpar","group":"485819ea.514d78","order":9,"width":"4","height":"1","passthru":false,"label":"Cancelar","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":" null","payloadType":"num","topic":"","x":150,"y":920,"wires":[["76e9ea64.a60f44","adf16cf6.ad84e"]]},{"id":"bd9f864d.3678f8","type":"comment","z":"49ecca28.ef9cc4","name":"Inicialização e refresh","info":"Inicialização e refresh","x":220,"y":40,"wires":[]},{"id":"5bcb1fd5.791eb","type":"inject","z":"49ecca28.ef9cc4","name":"Inicialização","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":100,"wires":[["fc97bb43.472d28"]]},{"id":"ad4f101d.33aaf","type":"ui_button","z":"49ecca28.ef9cc4","name":"Alterar","group":"485819ea.514d78","order":11,"width":"4","height":"1","passthru":false,"label":"Alterar","tooltip":"","color":"","bgcolor":"","icon":"autorenew","payload":"null","payloadType":"num","topic":"","x":150,"y":840,"wires":[["797899a0.d17868","efd0cd29.71a93","adf16cf6.ad84e"]]},{"id":"c4e16a49.5c8098","type":"cloudant out","z":"49ecca28.ef9cc4","name":"Salvar SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","payonly":false,"operation":"insert","x":910,"y":840,"wires":[]},{"id":"4061ff31.9db4b","type":"function","z":"49ecca28.ef9cc4","name":"Altera SKU","func":"var velocidade = flow.get('novaVelocidadeSKU');\nvar sku = flow.get('novoNomeSKU');\nvar estado = flow.get('novaEstadoSKU');\nvar ciclo = parseInt((velocidade / 60)*1000)/1000;\nvar data = msg.payload.data;\nvar dataAnterior = flow.get('dataAntiga');\nvar rev = flow.get('rev');\nvar id = flow.get('id');\nvar msg1 = {\n    \"payload\": \"init\"\n}\nmsg = {\n    \"payload\": {\n        \"sku\": sku,\n        \"velocidade\": velocidade,\n        \"estado\": estado,\n        \"ciclo\": ciclo,\n        \"data\": data,\n        \"ultimaData\": dataAnterior\n    },\n    \"_id\": id,\n    \"_rev\": rev\n}\n\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":710,"y":860,"wires":[["c4e16a49.5c8098"],["8a0844d0.b84008"]]},{"id":"fef618f4.eea998","type":"moment","z":"49ecca28.ef9cc4","name":"Data","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY - HH:mm:ss","locale":"pt_BR","output":"payload.data","outputType":"msg","outTz":"America/Sao_Paulo","x":530,"y":860,"wires":[["4061ff31.9db4b"]]},{"id":"efd0cd29.71a93","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":860,"wires":[["fef618f4.eea998"]]},{"id":"76e4d5ec.a4612c","type":"ui_toast","z":"49ecca28.ef9cc4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alerta","x":530,"y":820,"wires":[[]]},{"id":"797899a0.d17868","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alterando as informações. Por favor aguarde!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":820,"wires":[["76e4d5ec.a4612c"]]},{"id":"47993d78.1201c4","type":"ui_switch","z":"49ecca28.ef9cc4","name":"Estado","label":"Ativo","tooltip":"","group":"485819ea.514d78","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1380,"y":800,"wires":[["1dec6bbc.3e0324"]]},{"id":"1dec6bbc.3e0324","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"novaEstadoSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":800,"wires":[[]]},{"id":"b8e873f2.f798c","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"dataAntiga","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":840,"wires":[[]]},{"id":"ce8575f7.96d438","type":"comment","z":"7e8bd831.628288","name":"Inicialização e refresh","info":"Inicialização e refresh","x":220,"y":40,"wires":[]},{"id":"f0597d3f.007b2","type":"function","z":"7e8bd831.628288","name":"Escreve lista","func":"var lista = global.get(\"listaskuativos\") || [];\nvar listaatual = flow.get('listaskuatual') || [];\nif (lista.length != listaatual.length || msg.topic === 999){\n    flow.set('listaskuatual',lista)\n    msg.options = lista\n    return msg\n}","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["3ccb2b54.2acd64"]]},{"id":"7dd9c90f.0e5f68","type":"comment","z":"7e8bd831.628288","name":"Seleciona um SKU para Ordem","info":"Seleciona um SKU para Ordem","x":250,"y":200,"wires":[]},{"id":"e0ad195a.500e88","type":"comment","z":"7e8bd831.628288","name":"Grava ordem","info":"Grava ordem","x":190,"y":400,"wires":[]},{"id":"690ba59e.6d714c","type":"cloudant in","z":"7e8bd831.628288","name":"Consulta ordens","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","search":"_all_","design":"","index":"","x":840,"y":760,"wires":[["11e7f3c4.f34d0c","e3aa09bf.44c038"]]},{"id":"c1c23124.e6ac","type":"comment","z":"7e8bd831.628288","name":"Após criar e encerrar atualiza lista ordens","info":"Após criar e encerrar atualiza lista ordens","x":280,"y":700,"wires":[]},{"id":"5c833b86.93fa04","type":"link in","z":"7e8bd831.628288","name":"atulizaListaSKU","links":["2e604ed0.6b5042","92d37ef0.fc181","89ffc309.17ec9"],"x":135,"y":760,"wires":[["5e63874a.850c68"]]},{"id":"6fc912a0.419dfc","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":760,"wires":[["39e3fa42.faadb6"]]},{"id":"4b1936f1.5af368","type":"link out","z":"7e8bd831.628288","name":"optionsDropboxSKU","links":["92fadd66.5f0f6","f143d19e.fd4a3"],"x":1195,"y":760,"wires":[]},{"id":"14d3f64b.fbc96a","type":"function","z":"49ecca28.ef9cc4","name":"Exec push","func":"var lista = msg.payload\nvar index = msg.payload.length\nmsg.id = []\nfor (index in lista){\n    msg.id.push(lista[index]._id)\n}\nmsg.sku = []\nfor (index in lista){\n    msg.sku.push(lista[index].payload.sku)\n}\nmsg.skuativos = []\nfor (index in lista){\n    if(lista[index].payload.estado === true){\n        msg.skuativos.push(lista[index].payload.sku)\n    }\n}\nmsg.idativos = []\nfor (index in lista){\n    if(lista[index].payload.estado === true){\n        msg.idativos.push(lista[index]._id)\n    }\n}\nmsg.options = msg.sku;\nglobal.set(\"listaid\",msg.id)\nglobal.set(\"listasku\",msg.sku)\nglobal.set(\"listaidativos\",msg.idativos)\nglobal.set(\"listaskuativos\",msg.skuativos)\nmsg.topic = 999;\nreturn msg;\n","outputs":1,"noerr":0,"x":1050,"y":260,"wires":[["7c8e98.28458168"]]},{"id":"11e7f3c4.f34d0c","type":"function","z":"7e8bd831.628288","name":"Exec push","func":"var lista = msg.payload\nvar index = msg.payload.length\nmsg.payload = []\nfor (index in lista){\n    msg.payload.push(lista[index].payload.ordem)\n}\nglobal.set(\"listaordens\",msg.payload)\nmsg.estado = 'init';\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":760,"wires":[["4b1936f1.5af368","e3aa09bf.44c038"]]},{"id":"e4691c0a.dbb2a","type":"comment","z":"7e8bd831.628288","name":"Seleciona um Ordem para consultar","info":"Seleciona um SKU para deletar","x":260,"y":860,"wires":[]},{"id":"12be908d.0cfedf","type":"ui_dropdown","z":"7e8bd831.628288","name":"Droplist consultar ordem","label":"Selecione uma ordem para consultar","tooltip":"","place":"Selecione uma ordem","group":"bd160cb1.3394e","order":1,"width":"18","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":310,"y":920,"wires":[["95d68cc6.6d1fc"]]},{"id":"95d68cc6.6d1fc","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"encerrarOrdem","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":920,"wires":[["2f99cdaf.2b9b42"]]},{"id":"92fadd66.5f0f6","type":"link in","z":"7e8bd831.628288","name":"encerraOrdem","links":["4b1936f1.5af368","3cf45352.1689ec"],"x":135,"y":920,"wires":[["12be908d.0cfedf"]]},{"id":"2f99cdaf.2b9b42","type":"cloudant in","z":"7e8bd831.628288","name":"Consulta ordens","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","search":"_id_","design":"","index":"","x":840,"y":920,"wires":[["919ddfbb.df3b7"]]},{"id":"b9ca7a68.cc5b98","type":"comment","z":"b5ab8ba.7eb7578","name":"Inicialização do Tema","info":"Inicialização","x":180,"y":40,"wires":[]},{"id":"e4a09676.5108a8","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"rev","pt":"flow","to":"payload._rev","tot":"msg"},{"t":"set","p":"id","pt":"flow","to":"payload._id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":700,"wires":[[]]},{"id":"c89c5d22.a7511","type":"moment","z":"49ecca28.ef9cc4","name":"ID","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":0,"adjType":"days","adjDir":"add","format":"DDMMYYYYHHmmss","locale":"pt_BR","output":"_id","outputType":"msg","outTz":"America/Sao_Paulo","x":330,"y":380,"wires":[["6a74e635.460d18"]]},{"id":"1e7ab9b6.774db6","type":"function","z":"49ecca28.ef9cc4","name":"Select ID","func":"var lista = global.get('listasku');\nvar listaid = global.get('listaid');\nvar id = lista.indexOf(msg.payload);\n\nmsg.payload = listaid[id];\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":540,"wires":[["54e0f6c8.389fc8"]]},{"id":"27922ce8.7d5244","type":"function","z":"49ecca28.ef9cc4","name":"Select ID","func":"if(msg.payload === null || msg.payload.length === 0 || msg.payload === undefined){\n    return;\n}\nvar lista = global.get('listasku');\nvar listaid = global.get('listaid');\nvar id = lista.indexOf(msg.payload);\n\nmsg.payload = listaid[id];\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":760,"wires":[["94d1bfa9.e87e2"]]},{"id":"ee21c467.60e158","type":"link out","z":"49ecca28.ef9cc4","name":"novoSKU","links":["a32f20.1f0b30e","a4f86298.d7ecd"],"x":835,"y":420,"wires":[]},{"id":"7ac2100b.dba3f","type":"link in","z":"49ecca28.ef9cc4","name":"deletaSKU","links":["7c8e98.28458168"],"x":195,"y":500,"wires":[["2ffc2fbf.07eb4"]]},{"id":"a32f20.1f0b30e","type":"link in","z":"49ecca28.ef9cc4","name":"refresh","links":["4fcc4ad0.812764","8a0844d0.b84008","dc6836f5.498de8","df3970f4.19add","ee21c467.60e158"],"x":235,"y":140,"wires":[["fc97bb43.472d28"]]},{"id":"fc97bb43.472d28","type":"function","z":"49ecca28.ef9cc4","name":"Refresh","func":"msg.payload=[];\nmsg.topic = 999;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["3bbc91d2.95a70e"]]},{"id":"f6f97615.a43f58","type":"link out","z":"49ecca28.ef9cc4","name":"refreshTrigger","links":["79ed993b.21a778","fc4b9cb2.a3b1c"],"x":715,"y":120,"wires":[]},{"id":"7c8e98.28458168","type":"link out","z":"49ecca28.ef9cc4","name":"optionsDropbox","links":["7ac2100b.dba3f","7b525622.a8f5e8"],"x":1195,"y":260,"wires":[]},{"id":"7b525622.a8f5e8","type":"link in","z":"49ecca28.ef9cc4","name":"alteraSKU","links":["7c8e98.28458168"],"x":115,"y":760,"wires":[["adf16cf6.ad84e"]]},{"id":"79ed993b.21a778","type":"link in","z":"49ecca28.ef9cc4","name":"atualizaListas","links":["3ccb2b54.2acd64","f6f97615.a43f58","4d090518.8fbd9c"],"x":135,"y":260,"wires":[["9d6f17e4.4fdff8"]]},{"id":"4fcc4ad0.812764","type":"link out","z":"49ecca28.ef9cc4","name":"deletaSKU","links":["a32f20.1f0b30e","a4f86298.d7ecd"],"x":735,"y":640,"wires":[]},{"id":"e8801c5a.9a3a3","type":"ui_ui_control","z":"b5ab8ba.7eb7578","name":"","x":380,"y":340,"wires":[[]]},{"id":"996b79eb.4ce3a8","type":"comment","z":"b5ab8ba.7eb7578","name":"Ui control para esconder e mostrar campos","info":"Try catch para erros do BD","x":240,"y":160,"wires":[]},{"id":"70e25002.a1387","type":"ui_button","z":"b5ab8ba.7eb7578","name":"","group":"141a5297.cc40fd","order":3,"width":"4","height":"1","passthru":false,"label":"Criar SKU","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"{\"group\":{\"hide\":[\"Receitas_Alterar_SKU\",\"Receitas_Deletar_SKU\"],\"show\":[\"Receitas_Criar_SKU\"]}}","payloadType":"json","topic":"","x":160,"y":220,"wires":[["dc6836f5.498de8","e8801c5a.9a3a3"]]},{"id":"7db71dd.9c7e5e4","type":"ui_button","z":"b5ab8ba.7eb7578","name":"","group":"141a5297.cc40fd","order":5,"width":"4","height":"1","passthru":false,"label":"Alterar SKU","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"{\"group\":{\"hide\":[\"Receitas_Criar_SKU\",\"Receitas_Deletar_SKU\"],\"show\":[\"Receitas_Alterar_SKU\"]}}","payloadType":"json","topic":"","x":150,"y":280,"wires":[["dc6836f5.498de8","e8801c5a.9a3a3"]]},{"id":"f4000506.7e3e78","type":"ui_button","z":"b5ab8ba.7eb7578","name":"","group":"141a5297.cc40fd","order":7,"width":"4","height":"1","passthru":false,"label":"Deletar SKU","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"{\"group\":{\"hide\":[\"Receitas_Criar_SKU\",\"Receitas_Alterar_SKU\"],\"show\":[\"Receitas_Deletar_SKU\"]}}","payloadType":"json","topic":"","x":150,"y":340,"wires":[["dc6836f5.498de8","e8801c5a.9a3a3"]]},{"id":"8250c79d.45dfa8","type":"ui_ui_control","z":"b5ab8ba.7eb7578","name":"","x":380,"y":540,"wires":[[]]},{"id":"af39112b.0b355","type":"comment","z":"b5ab8ba.7eb7578","name":"Ui control para esconder e mostrar campos","info":"Try catch para erros do BD","x":240,"y":400,"wires":[]},{"id":"85fb4751.9f13a8","type":"ui_button","z":"b5ab8ba.7eb7578","name":"","group":"3915cecb.4b6d32","order":3,"width":"4","height":"1","passthru":false,"label":"Abrir Ordem","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Ordem_Consultar_ordem\"],\"show\":[\"Ordem_Abrir_ordem\"]}}","payloadType":"json","topic":"","x":190,"y":480,"wires":[["df3970f4.19add","8250c79d.45dfa8"]]},{"id":"9f9c556b.1c9048","type":"ui_button","z":"b5ab8ba.7eb7578","name":"","group":"3915cecb.4b6d32","order":5,"width":"4","height":"1","passthru":false,"label":"Consultar Ordem","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Ordem_Abrir_ordem\"],\"show\":[\"Ordem_Consultar_ordem\"]}}","payloadType":"json","topic":"","x":190,"y":540,"wires":[["df3970f4.19add","8250c79d.45dfa8"]]},{"id":"c66b0465.928c98","type":"catch","z":"b1828f58.199e6","name":"Catch SKU repetido","scope":["497f304e.70cbb","c4e16a49.5c8098"],"uncaught":false,"x":170,"y":100,"wires":[["70e2e717.027438"]]},{"id":"3db03504.463f8a","type":"comment","z":"b1828f58.199e6","name":"Try catch para erros do BD","info":"Try catch para erros do BD","x":190,"y":40,"wires":[]},{"id":"70e2e717.027438","type":"function","z":"b1828f58.199e6","name":"Reposta","func":"if(msg.error.message === 'Failed to insert document: couch returned 409'){\n    msg.payload = [];\n    msg.payload = 'Este SKU já existe';\n    return msg\n}\n","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["41821c1a.604f54"]]},{"id":"41821c1a.604f54","type":"ui_toast","z":"b1828f58.199e6","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Ok","cancel":"","topic":"","name":"Alerta","x":550,"y":100,"wires":[[]]},{"id":"6fecaf66.c45b1","type":"ui_toast","z":"49ecca28.ef9cc4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alerta","x":550,"y":640,"wires":[[]]},{"id":"633f1ba5.420bb4","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"SKU deletado com sucesso!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":640,"wires":[["6fecaf66.c45b1"]]},{"id":"a80126e0.1af3b8","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"json"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":880,"wires":[["47993d78.1201c4"]]},{"id":"8a0844d0.b84008","type":"link out","z":"49ecca28.ef9cc4","name":"alteraSKU","links":["a32f20.1f0b30e","fc4b9cb2.a3b1c","a4f86298.d7ecd"],"x":855,"y":880,"wires":[]},{"id":"fc4b9cb2.a3b1c","type":"link in","z":"49ecca28.ef9cc4","name":"limpaSKU","links":["76e9ea64.a60f44","8a0844d0.b84008","f6f97615.a43f58","4d090518.8fbd9c"],"x":1015,"y":880,"wires":[["a80126e0.1af3b8","7884d046.30287"]]},{"id":"76e9ea64.a60f44","type":"link out","z":"49ecca28.ef9cc4","name":"limpaDeletaSKU","links":["fc4b9cb2.a3b1c"],"x":275,"y":920,"wires":[]},{"id":"7884d046.30287","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":840,"wires":[["6749a804.460438","84b98fa9.131ab"]]},{"id":"dc6836f5.498de8","type":"link out","z":"b5ab8ba.7eb7578","name":"uiSKU","links":["a32f20.1f0b30e","99f976e7.a34d58","a4f86298.d7ecd","edba45a1.8b9808"],"x":335,"y":220,"wires":[]},{"id":"df3970f4.19add","type":"link out","z":"b5ab8ba.7eb7578","name":"uiOrdem","links":["99f976e7.a34d58","a32f20.1f0b30e","edba45a1.8b9808"],"x":335,"y":480,"wires":[]},{"id":"2a6bc26f.70d7ce","type":"inject","z":"7e8bd831.628288","name":"Inicialização","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":100,"wires":[["ae3e8f1f.509bf"]]},{"id":"ae3e8f1f.509bf","type":"function","z":"7e8bd831.628288","name":"Refresh","func":"msg.payload=[];\nmsg.topic = 999;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["f0597d3f.007b2"]]},{"id":"99f976e7.a34d58","type":"link in","z":"7e8bd831.628288","name":"refresh","links":["6328c35b.0fc7ec","dc6836f5.498de8","df3970f4.19add"],"x":235,"y":140,"wires":[["ae3e8f1f.509bf"]]},{"id":"3ccb2b54.2acd64","type":"link out","z":"7e8bd831.628288","name":"refreshTrigger","links":["79ed993b.21a778","96644b4d.413588"],"x":715,"y":120,"wires":[]},{"id":"cdbc57fa.1f1d28","type":"ui_toast","z":"49ecca28.ef9cc4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alerta","x":1090,"y":340,"wires":[[]]},{"id":"9d55bf06.0693d","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"SKU criado com sucesso!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":340,"wires":[["cdbc57fa.1f1d28"]]},{"id":"f6221182.b9d0a","type":"function","z":"7e8bd831.628288","name":"Escreve lista","func":"var lista = global.get(\"listaordens\") || [];\nvar listaatual = flow.get('listaordens') || [];\nif (lista.length != listaatual.length || msg.topic === 999){\n    flow.set('listaordens',lista)\n    msg.options = lista\n    return msg\n}","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["89ffc309.17ec9"]]},{"id":"1ee475e1.8aa52a","type":"inject","z":"7e8bd831.628288","name":"Inicialização","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":210,"y":600,"wires":[["621f67b0.a43c68"]]},{"id":"621f67b0.a43c68","type":"function","z":"7e8bd831.628288","name":"Refresh","func":"msg.payload=[];\nmsg.topic = 999;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["f6221182.b9d0a"]]},{"id":"6f083677.d5f3a8","type":"comment","z":"7e8bd831.628288","name":"Inicialização e refresh","info":"Inicialização e refresh","x":220,"y":540,"wires":[]},{"id":"edba45a1.8b9808","type":"link in","z":"7e8bd831.628288","name":"refreshOrdem","links":["6328c35b.0fc7ec","dc6836f5.498de8","df3970f4.19add"],"x":255,"y":640,"wires":[["621f67b0.a43c68"]]},{"id":"89ffc309.17ec9","type":"link out","z":"7e8bd831.628288","name":"refreshTriggerOrdem","links":["5c833b86.93fa04"],"x":735,"y":620,"wires":[]},{"id":"fdfcb4c1.5f7908","type":"cloudant in","z":"7e8bd831.628288","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_id_","design":"","index":"","x":1080,"y":260,"wires":[["b34c77c3.169048"]]},{"id":"ab044e26.8acb8","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"SKUSelecionado","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":260,"wires":[["fdfcb4c1.5f7908"]]},{"id":"b34c77c3.169048","type":"function","z":"7e8bd831.628288","name":"Split","func":"if(msg.payload.payload !== undefined){\n    var item = msg.payload.payload;\n    var msg1 = {\"payload\": item.sku};\n    var msg2 = {\"payload\": item.ciclo};\n    var msg3 = {\"payload\": item.velocidade};\n    var msg4 = {\"payload\": item.data};\n    return [msg1,msg2,msg3,msg4];\n}","outputs":4,"noerr":0,"x":1270,"y":260,"wires":[["3bdd362.bf01aca"],["2c6cbdd1.90f702"],["1363547a.50f6fc"],["644bc041.3d2e2"]]},{"id":"343c65e0.7140fa","type":"function","z":"7e8bd831.628288","name":"Select ID","func":"if(msg.payload === undefined || msg.payload === null || msg.payload.length === 0 || msg.payload === []){\n    return\n}\nvar lista = global.get('listasku');\nvar listaid = global.get('listaid');\nvar id = lista.indexOf(msg.payload);\nmsg.payload = listaid[id];\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["ab044e26.8acb8"]]},{"id":"3bdd362.bf01aca","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"SKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":200,"wires":[[]]},{"id":"2c6cbdd1.90f702","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"ciclo","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":240,"wires":[[]]},{"id":"1363547a.50f6fc","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"velocidade","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":280,"wires":[[]]},{"id":"644bc041.3d2e2","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":320,"wires":[[]]},{"id":"c5c73cff.5e96d","type":"ui_dropdown","z":"7e8bd831.628288","name":"Droplist SKU ativo","label":"Selecione um SKU ativo","tooltip":"","place":"Selecione um SKU ativo","group":"8179319f.da615","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":390,"y":260,"wires":[["343c65e0.7140fa"]]},{"id":"5b397e65.e8d75","type":"ui_button","z":"7e8bd831.628288","name":"Limpar","group":"8179319f.da615","order":6,"width":"4","height":"1","passthru":false,"label":"Cancelar","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"null","payloadType":"json","topic":"","x":190,"y":320,"wires":[["c5c73cff.5e96d","1927f1c7.56e37e"]]},{"id":"96644b4d.413588","type":"link in","z":"7e8bd831.628288","name":"escolheSKU","links":["3ccb2b54.2acd64"],"x":235,"y":260,"wires":[["c5c73cff.5e96d"]]},{"id":"9a5c5c08.b9a82","type":"ui_button","z":"7e8bd831.628288","name":"Criar ordem","group":"8179319f.da615","order":5,"width":"4","height":"1","passthru":false,"label":"Criar ordem","tooltip":"","color":"","bgcolor":"","icon":"","payload":"null","payloadType":"json","topic":"","x":190,"y":460,"wires":[["c5c73cff.5e96d","3b8a49bb.da4406","1927f1c7.56e37e"]]},{"id":"1927f1c7.56e37e","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["f1ff0ad.0f45df8"]]},{"id":"3b8a49bb.da4406","type":"moment","z":"7e8bd831.628288","name":"Gera ordem","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":0,"adjType":"days","adjDir":"add","format":"DDMMYYYYHHmmss","locale":"pt_BR","output":"ordem","outputType":"flow","outTz":"America/Sao_Paulo","x":390,"y":460,"wires":[["e87c5611.b0f018"]]},{"id":"f1ff0ad.0f45df8","type":"ui_text_input","z":"7e8bd831.628288","name":"Produção prevista","label":"Quantidade de produção prevista","tooltip":"","group":"8179319f.da615","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":610,"y":320,"wires":[["c63b6eb6.c035"]]},{"id":"e87c5611.b0f018","type":"moment","z":"7e8bd831.628288","name":"Data","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY - HH:mm:ss","locale":"pt_BR","output":"payload","outputType":"msg","outTz":"America/Sao_Paulo","x":570,"y":460,"wires":[["a40570cb.e17e1"]]},{"id":"c63b6eb6.c035","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"producao","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":320,"wires":[["238b242e.6a572c"]]},{"id":"a40570cb.e17e1","type":"function","z":"7e8bd831.628288","name":"Grava ordem","func":"var sku = flow.get('SKU');\nvar ciclo = flow.get('ciclo');\nvar velocidade = flow.get('velocidade');\nvar tempo = flow.get('tempo');\nvar tempoS = flow.get('tempoS');\nvar ordem = flow.get('ordem');\nvar producao = flow.get('producao');\nvar data = msg.payload;\nmsg.payload = []\nif(producao > 0 && sku !== null){\n    msg = {\n    \"payload\":{\n        \"sku\": sku,\n        \"ciclo\": ciclo,\n        \"velocidade\": velocidade,\n        \"tempo\": tempo,\n        \"tempoS\": tempoS,\n        \"ordem\": ordem,\n        \"data\": data,\n        \"quantidade\": producao,\n        \"produzido\": 0,\n        \"tproduzido\": \"00:00:00\",\n        \"sordem\": \"Programada\"\n    },\n    \"_id\": ordem\n    }\n    return [msg,null];\n}\nif(producao <= 0){\n    var msg1 = {\"payload\": \"Informe a quantidade de produção prevista!\"}\n    return [null,msg1];\n}\nif(sku === null){\n    var msg1 = {\"payload\": \"Informe um SKU!\"}\n    return [null,msg1];\n}","outputs":2,"noerr":0,"x":750,"y":460,"wires":[["fe234d71.21618","44a3672f.2999c8","6328c35b.0fc7ec"],["12fdabd7.3601e4"]]},{"id":"238b242e.6a572c","type":"function","z":"7e8bd831.628288","name":"Cacula tempo","func":"var producao = msg.payload;\nvar ciclo = flow.get('ciclo') || 0;\nvar segundos = producao / ciclo;\n\nfunction format(numero){\n    if (numero <= 9){\n\t    numero = \"0\"+numero;\n    }\n    return numero;\n    }\n\nvar fhora = format(Math.round(segundos/3600));\nvar fmin = format(Math.floor((segundos%3600)/60));\nvar fseg = format(Math.floor((segundos%3600)%60));\n    \nvar tempo = fhora+\":\"+fmin+\":\"+fseg;\n\nif(tempo === 0){\n    return msg;\n}\nif(tempo !== 0){\n    msg.payload = tempo;\n}\n\nmsg.segundos = segundos;\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":320,"wires":[["78ea82e9.b8521c"]]},{"id":"fe234d71.21618","type":"cloudant out","z":"7e8bd831.628288","name":"Salvar ordem","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","payonly":false,"operation":"insert","x":950,"y":420,"wires":[]},{"id":"44a3672f.2999c8","type":"function","z":"7e8bd831.628288","name":"Gera notificação","func":"var sku = flow.get('SKU');\nvar ciclo = flow.get('ciclo');\nvar velocidade = flow.get('velocidade');\nvar tempo = flow.get('tempo');\nvar ordem = flow.get('ordem');\nvar producao = flow.get('producao');\nvar tempoS = flow.get('tempoS')\n\nmsg.topic = \"Ordem aberta com sucesso!\"\nmsg.payload = \"Ordem: \"+ordem+\"; Produto: \"+sku+\"; Quantidade: \"+producao+\".\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":460,"wires":[["4edd4f31.21cf"]]},{"id":"12fdabd7.3601e4","type":"ui_toast","z":"7e8bd831.628288","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alerta","x":930,"y":500,"wires":[[]]},{"id":"6328c35b.0fc7ec","type":"link out","z":"7e8bd831.628288","name":"criaOrdem","links":["99f976e7.a34d58","edba45a1.8b9808"],"x":895,"y":380,"wires":[]},{"id":"78ea82e9.b8521c","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"tempo","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"tempoS","pt":"flow","to":"segundos","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":320,"wires":[[]]},{"id":"4edd4f31.21cf","type":"ui_toast","z":"7e8bd831.628288","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alerta","x":1150,"y":460,"wires":[[]]},{"id":"c42786ce.a68428","type":"ui_toast","z":"49ecca28.ef9cc4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alerta","x":870,"y":460,"wires":[[]]},{"id":"9d6f17e4.4fdff8","type":"function","z":"49ecca28.ef9cc4","name":"Filtro","func":"if(msg.topic !== 999){\n    return\n}\nreturn msg","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["b1040f1b.863f5"]]},{"id":"5e63874a.850c68","type":"function","z":"7e8bd831.628288","name":"Filtro","func":"if(msg.topic !== 999){\n    return\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":760,"wires":[["6fc912a0.419dfc"]]},{"id":"ee1150c0.6b923","type":"delay","z":"49ecca28.ef9cc4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":260,"wires":[["317c7761.2c0f48"]]},{"id":"39e3fa42.faadb6","type":"delay","z":"7e8bd831.628288","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":760,"wires":[["690ba59e.6d714c"]]},{"id":"929eddf0.e5c95","type":"comment","z":"93413fb0.966e1","name":"Selecionar a linha","info":"Selecionar a linha","x":150,"y":220,"wires":[]},{"id":"8190caec.f4e198","type":"ui_button","z":"93413fb0.966e1","name":"","group":"361751bb.55a20e","order":3,"width":"4","height":"1","passthru":false,"label":"Linha 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":280,"wires":[["69b8ada9.0fc674"]]},{"id":"324061be.38949e","type":"ui_dropdown","z":"93413fb0.966e1","name":"Droplist ordem","label":"Ordem","tooltip":"","place":"Selecione uma ordem","group":"b11f2258.53dd7","order":1,"width":"15","height":"1","passthru":false,"options":[],"payload":"","topic":"","x":860,"y":420,"wires":[["cf3e12fa.351ff"]]},{"id":"4d3a0edf.ff8ec","type":"comment","z":"93413fb0.966e1","name":"Selecionar a ordem para a linha","info":"Selecionar a ordem para a linha","x":190,"y":380,"wires":[]},{"id":"4b7e6018.60205","type":"ui_template","z":"1f65e450.19ba9c","group":"","name":"CSS","order":1,"width":0,"height":0,"format":"            <style>\n\n            body.nr-dashboard-theme {\n                background-color: #e9dfdf;\n                font-family: Arial;\n            }\n            button, html, input, select, textarea {\n                font-family: Arial;\n            }\n            body.nr-dashboard-theme md-content md-card {\n                background-color: #33333300;\n                color: #d0d0d0;\n            }\n\n            body.nr-dashboard-theme md-sidenav{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n                font-family: Arial;;\n            }\n\n            body.nr-dashboard-theme md-list{\n                color: #707070;\n            }\n\n            body.nr-dashboard-theme .nr-menu-item-active {\n                color: rgb(55, 170, 216);\n            }\n\n            body.nr-dashboard-theme .md-list-item-inner{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n            }\n\n            body.nr-dashboard-theme md-toolbar {\n                background-image: c;\n                box-shadow: 0px 1px 15px #000000;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-binding {\n                color: black;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-scope {\n                color: black;\n            }\n\n            .nr-dashboard-theme ui-card-panel {\n                background-image: linear-gradient(45deg, rgba(247,247,247,1) 0%, rgba(227,227,227,1) 51%, rgba(240,240,240,1) 74%, rgba(255,255,255,1) 100%);\n                border: 1px solid #555555;\n                box-shadow: 0 0 20px #00000066;\n            }\n\n            body.nr-dashboard-theme md-input-container p.label{\n                color: black;\n            }\n\n            body.nr-dashboard-theme md-card p.label{\n                color: black;\n            }\n\n            .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n                height: 48px;\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                border-radius: 100px 100px 100px 100px;\n                text-align: center;\n                box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);\n                color: black;\n                text-shadow: 0 0 2px black;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button {\n                width: 210px;\n                height: 48px;\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n            \n            .nr-dashboard-theme .nr-dashboard-form-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button {\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-button .md-button {\n                box-shadow: 0 1px 3px 0 rgba(0,0,0,.26)!important;\n                width: 100%!important;\n                height: 100%!important;\n                margin: 0!important;\n                min-width: 0!important;\n                min-height: 0!important;\n            }\n            .nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n                background-image: linear-gradient(to bottom right, #48b349, #115009);\n                border-style: none;\n            }\n            .nr-dashboard-theme .nr-dashboard-numeric .value {\n                background-color: #33333300;\n                color:#d0d0d0;\n            }\n\n            .nr-dashboard-numeric .value {\n                font-weight: 700;\n                text-align: center;\n                border: 0;\n            }\n\n            .nr-dashboard-form {\n                display: inline-block;\n                width: 100%;\n                overflow-y: visible;\n            }\n            #SETTINGS_TEATED_cards {\n                min-height: 260px;\n            }\n\n            </style>    <style>\n\n            body.nr-dashboard-theme {\n                background-color: #e9dfdf;\n                font-family: Arial;\n            }\n            button, html, input, select, textarea {\n                font-family: Arial;\n            }\n            body.nr-dashboard-theme md-content md-card {\n                background-color: #33333300;\n                color: #d0d0d0;\n            }\n\n            body.nr-dashboard-theme md-sidenav{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n                font-family: Arial;;\n            }\n\n            body.nr-dashboard-theme md-list{\n                color: #707070;\n            }\n\n            body.nr-dashboard-theme .nr-menu-item-active {\n                color: rgb(55, 170, 216);\n            }\n\n            body.nr-dashboard-theme .md-list-item-inner{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n            }\n\n            body.nr-dashboard-theme md-toolbar {\n                background-image: c;\n                box-shadow: 0px 1px 15px #000000;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-binding {\n                color: black;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-scope {\n                color: black;\n            }\n\n            .nr-dashboard-theme ui-card-panel {\n                background-image: linear-gradient(45deg, rgba(247,247,247,1) 0%, rgba(227,227,227,1) 51%, rgba(240,240,240,1) 74%, rgba(255,255,255,1) 100%);\n                border: 1px solid #555555;\n                box-shadow: 0 0 20px #00000066;\n            }\n\n            .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n                width: 800px;\n                height: 48px;\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n\n                text-align: center;\n                box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);\n                color: black;\n                text-shadow: 0 0 2px black;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button {\n                width: 210px;\n                height: 48px;\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n            \n            .nr-dashboard-theme .nr-dashboard-form-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button {\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-button .md-button {\n                box-shadow: 0 1px 3px 0 rgba(0,0,0,.26)!important;\n                width: 100%!important;\n                height: 100%!important;\n                margin: 0!important;\n                min-width: 0!important;\n                min-height: 0!important;\n            }\n            .nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n                background-image: linear-gradient(to bottom right, #48b349, #115009);\n                border-style: none;\n            }\n            .nr-dashboard-theme .nr-dashboard-numeric .value {\n                background-color: #33333300;\n                color:#d0d0d0;\n            }\n\n            .nr-dashboard-numeric .value {\n                font-weight: 700;\n                text-align: center;\n                border: 0;\n            }\n\n            .nr-dashboard-form {\n                display: inline-block;\n                width: 100%;\n                overflow-y: visible;\n            }\n            #SETTINGS_TEATED_cards {\n                min-height: 260px;\n            }\n\n            </style>            <style>\n\n            body.nr-dashboard-theme {\n                background-color: #e9dfdf;\n                font-family: Arial;\n            }\n            button, html, input, select, textarea {\n                font-family: Arial;\n            }\n            body.nr-dashboard-theme md-content md-card {\n                background-color: #33333300;\n                color: #d0d0d0;\n            }\n\n            body.nr-dashboard-theme md-sidenav{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n                font-family: Arial;;\n            }\n\n            body.nr-dashboard-theme md-list{\n                color: #707070;\n            }\n\n            body.nr-dashboard-theme .nr-menu-item-active {\n                color: rgb(55, 170, 216);\n            }\n\n            body.nr-dashboard-theme .md-list-item-inner{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n            }\n\n            body.nr-dashboard-theme md-toolbar {\n                background-image: c;\n                box-shadow: 0px 1px 15px #000000;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-binding {\n                color: black;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-scope {\n                color: black;\n            }\n\n            .nr-dashboard-theme ui-card-panel {\n                background-image: linear-gradient(45deg, rgba(247,247,247,1) 0%, rgba(227,227,227,1) 51%, rgba(240,240,240,1) 74%, rgba(255,255,255,1) 100%);\n                border: 1px solid #555555;\n                box-shadow: 0 0 20px #00000066;\n            }\n\n            body.nr-dashboard-theme md-input-container p.label{\n                color: black;\n            }\n\n            body.nr-dashboard-theme md-card p.label{\n                color: black;\n            }\n\n            .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                border-radius: 100px 100px 100px 100px;\n                text-align: center;\n                box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);\n                color: black;\n                text-shadow: 0 0 2px black;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button {\n                width: 210px;\n                height: 48px;\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n            \n            .nr-dashboard-theme .nr-dashboard-form-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button {\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-button .md-button {\n                box-shadow: 0 1px 3px 0 rgba(0,0,0,.26)!important;\n                width: 100%!important;\n                height: 100%!important;\n                margin: 0!important;\n                min-width: 0!important;\n                min-height: 0!important;\n            }\n            .nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n                background-image: linear-gradient(to bottom right, #48b349, #115009);\n                border-style: none;\n            }\n            .nr-dashboard-theme .nr-dashboard-numeric .value {\n                background-color: #33333300;\n                color:#d0d0d0;\n            }\n\n            .nr-dashboard-numeric .value {\n                font-weight: 700;\n                text-align: center;\n                border: 0;\n            }\n\n            .nr-dashboard-form {\n                display: inline-block;\n                width: 100%;\n                overflow-y: visible;\n            }\n            #SETTINGS_TEATED_cards {\n                min-height: 260px;\n            }\n\n            </style>    <style>\n\n            body.nr-dashboard-theme {\n                background-color: #e9dfdf;\n                font-family: Arial;\n            }\n            button, html, input, select, textarea {\n                font-family: Arial;\n            }\n            body.nr-dashboard-theme md-content md-card {\n                background-color: #33333300;\n                color: #d0d0d0;\n            }\n\n            body.nr-dashboard-theme md-sidenav{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n                font-family: Arial;;\n            }\n\n            body.nr-dashboard-theme md-list{\n                color: #707070;\n            }\n\n            body.nr-dashboard-theme .nr-menu-item-active {\n                color: rgb(55, 170, 216);\n            }\n\n            body.nr-dashboard-theme .md-list-item-inner{\n                background-image: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(233,223,223,1) 100%);\n            }\n\n            body.nr-dashboard-theme md-toolbar {\n                background-image: c;\n                box-shadow: 0px 1px 15px #000000;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-binding {\n                color: black;\n            }\n\n            body.nr-dashboard-theme md-toolbar .ng-scope {\n                color: black;\n            }\n\n            .nr-dashboard-theme ui-card-panel {\n                background-image: linear-gradient(45deg, rgba(247,247,247,1) 0%, rgba(227,227,227,1) 51%, rgba(240,240,240,1) 74%, rgba(255,255,255,1) 100%);\n                border: 1px solid #555555;\n                box-shadow: 0 0 20px #00000066;\n            }\n\n            .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n                width: 800px;\n                height: 48px;\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n\n                text-align: center;\n                box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);\n                color: black;\n                text-shadow: 0 0 2px black;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button {\n                width: 210px;\n                height: 48px;\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n            \n            .nr-dashboard-theme .nr-dashboard-form-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button {\n                background-image: linear-gradient(to right, rgba(102,188,222,1) 0%, rgba(233,223,223,1) 100%);\n                color: #0a0a0a;\n                text-shadow: 0 0 2px #525252;\n                border-radius:6px;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n                background-image: linear-gradient(to right, rgb(0, 150, 209) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-button .md-button:active {\n                background-image: linear-gradient(to right, rgb(0, 17, 255) 0%, rgb(179, 176, 176) 100%);;\n            }\n\n            .nr-dashboard-theme .nr-dashboard-form md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n                background-image: linear-gradient(to bottom right, rgb(0, 17, 255), #115009);\n            }\n\n            .nr-dashboard-button .md-button {\n                box-shadow: 0 1px 3px 0 rgba(0,0,0,.26)!important;\n                width: 100%!important;\n                height: 100%!important;\n                margin: 0!important;\n                min-width: 0!important;\n                min-height: 0!important;\n            }\n            .nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n                background-image: linear-gradient(to bottom right, #48b349, #115009);\n                border-style: none;\n            }\n            .nr-dashboard-theme .nr-dashboard-numeric .value {\n                background-color: #33333300;\n                color:#d0d0d0;\n            }\n\n            .nr-dashboard-numeric .value {\n                font-weight: 700;\n                text-align: center;\n                border: 0;\n            }\n\n            .nr-dashboard-form {\n                display: inline-block;\n                width: 100%;\n                overflow-y: visible;\n            }\n            #SETTINGS_TEATED_cards {\n                min-height: 260px;\n            }\n\n            </style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":90,"y":60,"wires":[[]]},{"id":"ca73faf6.381a88","type":"link in","z":"93413fb0.966e1","name":"escolheOrdem","links":["6c22211a.87c5b"],"x":675,"y":400,"wires":[["324061be.38949e"]]},{"id":"d303e04e.e5cf1","type":"comment","z":"93413fb0.966e1","name":"Inicialização e refresh","info":"Inicialização e refresh","x":160,"y":40,"wires":[]},{"id":"3682700b.7c6df","type":"inject","z":"93413fb0.966e1","name":"Inicialização","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":100,"wires":[["2cf69f93.c2039"]]},{"id":"2cf69f93.c2039","type":"function","z":"93413fb0.966e1","name":"Refresh","func":"msg.payload=[];\nmsg.topic = 999;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["29f9e32.d45991c"]]},{"id":"29f9e32.d45991c","type":"function","z":"93413fb0.966e1","name":"Escreve lista","func":"var lista = global.get(\"listaordens\") || [];\nmsg.options = lista;\nreturn msg","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["6c22211a.87c5b"]]},{"id":"6c22211a.87c5b","type":"link out","z":"93413fb0.966e1","name":"refreshTrigger","links":["ca73faf6.381a88"],"x":655,"y":120,"wires":[]},{"id":"b5cee936.891448","type":"cloudant in","z":"93413fb0.966e1","name":"Consulta Ordem","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","search":"_id_","design":"","index":"","x":1300,"y":420,"wires":[["47992fde.01f3d"]]},{"id":"cf3e12fa.351ff","type":"change","z":"93413fb0.966e1","name":"","rules":[{"t":"set","p":"_id","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"ordematual_id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":420,"wires":[["b5cee936.891448"]]},{"id":"47992fde.01f3d","type":"change","z":"93413fb0.966e1","name":"","rules":[{"t":"set","p":"ordematual","pt":"global","to":"payload.payload","tot":"msg"},{"t":"set","p":"ordematual_rev","pt":"global","to":"payload._rev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":420,"wires":[[]]},{"id":"44f7b835.806a88","type":"ui_button","z":"93413fb0.966e1","name":"","group":"b11f2258.53dd7","order":3,"width":"2","height":"1","passthru":false,"label":"Iniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":440,"wires":[["c6c77a2c.2b1b68"]]},{"id":"c6c77a2c.2b1b68","type":"change","z":"93413fb0.966e1","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"json"},{"t":"set","p":"process_id","pt":"global","to":"100","tot":"num"},{"t":"set","p":"ordematual.sordem","pt":"global","to":"Em produção","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["324061be.38949e","ce2ebfb2.55ddb"]]},{"id":"20c05c56.56d7f4","type":"ui_template","z":"93413fb0.966e1","group":"b11f2258.53dd7","name":"Tabela Gestão a Vista","order":4,"width":"18","height":"4","format":"        <!DOCTYPE html>\n        <html>\n        <head>\n        <style>\n        table {\n        border-collapse: collapse;\n        width: 100%;\n        border-collapse:separate;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n        }\n\n        th, td {\n        padding: 8px;\n        text-align: center;\n        border-collapse:separate;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n        }\n\n        td{\n            background: #faf7ff;\n        }\n\n        th{\n            background:#cccfdb;\n            border-collapse:separate;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n        }\n\n        td:hover {\n            border-collapse:separate;\n            border: solid #ccc 1px;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n            background-color: #cbc7ff;\n    ;\n            }\n\n        </style>\n        </head>\n        <body>\n\n        <h2></h2>\n\n        <table>\n        <tr>\n            <th>Ordem</th>\n            <th>SKU</th>\n            <th>Quantidade Prevista</th>\n            <th>Tempo Previsto</th>\n            <th>Velocidade Padrão [pç/min]</th>\n        </tr>\n        <tr>\n            <td>{{msg.payload.ordem}}</td>\n            <td>{{msg.payload.sku}}</td>\n            <td>{{msg.payload.quantidade}}</td>\n            <td>{{msg.payload.tempo}}</td>\n            <td>{{msg.payload.velocidade}}</td>\n        </tr>\n        </table>\n        <h2></h2>\n        <table>\n        <tr>\n            <th>Quantidade Produzida</th>\n            <th>Tempo de Produção</th>\n            <th>Status da Ordem</th>\n        </tr>\n        <tr>\n            <td>{{msg.payload.produzido}}</td>\n            <td>{{msg.payload.tproduzido}}</td>\n            <td>{{msg.payload.sordem}}</td>\n        </tr>\n        </table>\n\n        </body>\n        </html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":640,"wires":[[]]},{"id":"96990e4c.d9227","type":"inject","z":"93413fb0.966e1","name":"Inicialização","topic":"","payload":"{\"enabled\":\"true\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"1","x":130,"y":320,"wires":[["69b8ada9.0fc674"]]},{"id":"69b8ada9.0fc674","type":"change","z":"93413fb0.966e1","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["324061be.38949e"]]},{"id":"4195337.8f275cc","type":"inject","z":"93413fb0.966e1","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":120,"y":640,"wires":[["e7c44338.7950d"]]},{"id":"e7c44338.7950d","type":"function","z":"93413fb0.966e1","name":"Escreve na tabela","func":"var ordem = global.get('ordematual') || [];\nif(ordem === null){\n    return msg;\n}\nmsg.payload = ordem;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["20c05c56.56d7f4"]]},{"id":"bef1e521.8a4b08","type":"comment","z":"93413fb0.966e1","name":"Atualiza painel de gestão a vista","info":"Atualiza painel de gestão a vista","x":190,"y":580,"wires":[]},{"id":"f294fad6.ca9f98","type":"ui_button","z":"93413fb0.966e1","name":"","group":"b11f2258.53dd7","order":6,"width":"4","height":"1","passthru":false,"label":"Encerrar Ordem","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":520,"y":760,"wires":[["74437ce7.b534d4"]]},{"id":"74437ce7.b534d4","type":"change","z":"93413fb0.966e1","name":"","rules":[{"t":"set","p":"ordematual.sordem","pt":"global","to":"Encerrada","tot":"str"},{"t":"set","p":"process_id","pt":"global","to":"900","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":760,"wires":[["f031ea27.1c2988"]]},{"id":"bfe1ecd4.70a3","type":"comment","z":"93413fb0.966e1","name":"Encerra ordem","info":"Encerra ordem","x":130,"y":700,"wires":[]},{"id":"968684b8.9efc58","type":"ui_template","z":"7e8bd831.628288","group":"bd160cb1.3394e","name":"Tabela Gestão a Vista","order":4,"width":"18","height":"4","format":"        <!DOCTYPE html>\n        <html>\n        <head>\n        <style>\n        table {\n        border-collapse: collapse;\n        width: 100%;\n        border-collapse:separate;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n        }\n\n        th, td {\n        padding: 8px;\n        text-align: center;\n        border-collapse:separate;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n        }\n\n        td{\n            background: #faf7ff;\n        }\n\n        th{\n            background:#cccfdb;\n            border-collapse:separate;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n        }\n\n        td:hover {\n            border-collapse:separate;\n            border: solid #ccc 1px;\n            -webkit-border-radius: 5px;\n            -moz-border-radius: 5px;\n                    border-radius: 5px;\n            background-color: #cbc7ff;\n    ;\n            }\n\n        </style>\n        </head>\n        <body>\n\n        <h2></h2>\n\n        <table>\n        <tr>\n            <th>SKU</th>\n            <th>Ordem</th>\n            <th>Quantidade prevista</th>\n            <th>Status</th>\n        </tr>\n        <tr>\n            <td>{{msg.payload.payload.sku}}</td>\n            <td>{{msg.payload.payload.ordem}}</td>\n            <td>{{msg.payload.payload.quantidade}}</td>\n            <td>{{msg.payload.payload.sordem}}</td>\n        </tr>\n        </table>\n        <h2></h2>\n        <table>\n            <tr>\n                <th>Ciclo padrão [s]</th>\n                <th>Velocidade padrão [pçs/min]</th>\n                <th>Tempo previsto</th>\n            </tr>\n            <tr>\n                <td>{{msg.payload.payload.ciclo}}</td>\n                <td>{{msg.payload.payload.velocidade}}</td>\n                <td>{{msg.payload.payload.tempo}}</td>\n            </tr>\n        </table>\n        </body>\n        </html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":1140,"wires":[["35f3339f.aed1ac"]]},{"id":"cd1e9b84.913a68","type":"inject","z":"93413fb0.966e1","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":"1","x":120,"y":820,"wires":[["e12edcbb.e271"]]},{"id":"e12edcbb.e271","type":"function","z":"93413fb0.966e1","name":"Process_id","func":"var process_id = global.get(\"process_id\") || [];\nif (process_id == 900){\n    var id = global.get(\"ordematual_id\") || [];\n    var rev = global.get(\"ordematual_rev\") || [];\n    var ordem = global.get(\"ordematual\") || [];\n    msg = {\n        \"payload\":{\n            \"_id\": id,\n            \"_rev\": rev,\n            \"payload\": ordem\n        }\n    }\n    ordem = null;\n    id = null;\n    process_id = 0;\n    global.set(\"ordematual\",ordem);\n    global.set(\"ordematual_id\",id);\n    global.set(\"ordematual_rev\",rev);\n    global.set(\"process_id\",process_id);\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":820,"wires":[["2aa08a2f.2416f6"]]},{"id":"2aa08a2f.2416f6","type":"cloudant out","z":"93413fb0.966e1","name":"Salvar ordem","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","payonly":true,"operation":"insert","x":520,"y":820,"wires":[]},{"id":"ce2ebfb2.55ddb","type":"function","z":"93413fb0.966e1","name":"Process_id","func":"var process_id = global.get(\"process_id\") || [];\nif (process_id == 100){\n    var id = global.get(\"ordematual_id\") || [];\n    var rev = global.get(\"ordematual_rev\") || [];\n    var ordem = global.get(\"ordematual\") || [];\n    msg = {\n        \"payload\":{\n            \"_id\": id,\n            \"_rev\": rev,\n            \"payload\": ordem\n        }\n    }\n    process_id = 150;\n    global.set(\"process_id\",process_id);\n    return msg;\n}","outputs":1,"noerr":0,"x":850,"y":480,"wires":[["6a9980b1.a98bc","cddbd764.a6e1d8"]]},{"id":"6a9980b1.a98bc","type":"cloudant out","z":"93413fb0.966e1","name":"Salvar ordem","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","payonly":true,"operation":"insert","x":1060,"y":480,"wires":[]},{"id":"d32ecd9.3f5643","type":"cloudant in","z":"93413fb0.966e1","name":"Consulta Ordem","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","search":"_id_","design":"","index":"","x":1400,"y":520,"wires":[["a99d5114.28fc3"]]},{"id":"cddbd764.a6e1d8","type":"delay","z":"93413fb0.966e1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":520,"wires":[["182361cf.be794e"]]},{"id":"182361cf.be794e","type":"function","z":"93413fb0.966e1","name":"_id","func":"var ordem = global.get(\"ordematual\") || [];\nmsg.payload = ordem.ordem;\nreturn msg;\n","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["d32ecd9.3f5643"]]},{"id":"a99d5114.28fc3","type":"change","z":"93413fb0.966e1","name":"","rules":[{"t":"set","p":"ordematual","pt":"global","to":"payload.payload","tot":"msg"},{"t":"set","p":"ordematual_rev","pt":"global","to":"payload._rev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":520,"wires":[[]]},{"id":"242a88b.c589278","type":"comment","z":"7e8bd831.628288","name":"Reprogramar Ordem","info":"Reprogramar Ordem","x":220,"y":1000,"wires":[]},{"id":"919ddfbb.df3b7","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"ordematual","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":920,"wires":[["d1783f93.d1cf"]]},{"id":"35f3339f.aed1ac","type":"function","z":"7e8bd831.628288","name":"Filtro","func":"var ordem = flow.get(\"ordematual\") || [];\nif(ordem.payload.sordem !== \"Encerrada\" || ordem === null || ordem === undefined){\n    msg.enabled = false;\n    return msg;\n}\nif(ordem.payload.sordem === \"Encerrada\"){\n    msg.enabled = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":250,"y":1060,"wires":[["2a6d79ba.68b616"]]},{"id":"2a6d79ba.68b616","type":"ui_button","z":"7e8bd831.628288","name":"","group":"bd160cb1.3394e","order":6,"width":"4","height":"1","passthru":false,"label":"Reprogramar Ordem","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":1060,"wires":[["b2a11816.f19048"]]},{"id":"b2a11816.f19048","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"ordematual.payload.sordem","pt":"flow","to":"Reprogramada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1060,"wires":[["e0a11dbf.e692d"]]},{"id":"e0a11dbf.e692d","type":"function","z":"7e8bd831.628288","name":"Reprogramar","func":"var ordem = flow.get(\"ordematual\") || [];\n    msg = {\n        \"payload\": ordem\n        }\nordem = null;\nflow.set(\"ordematual\",ordem);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1060,"wires":[["ce3fb968.c43718","9d51bc4.54dcc4"]]},{"id":"ce3fb968.c43718","type":"cloudant out","z":"7e8bd831.628288","name":"Salvar ordem","cloudant":"90d07383.5a36","database":"listadeordem","service":"_ext_","payonly":true,"operation":"insert","x":1280,"y":1060,"wires":[]},{"id":"3cf45352.1689ec","type":"link out","z":"7e8bd831.628288","name":"reprogramaOrdem","links":["92fadd66.5f0f6"],"x":1475,"y":1100,"wires":[]},{"id":"9d51bc4.54dcc4","type":"change","z":"7e8bd831.628288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1100,"wires":[["3cf45352.1689ec"]]},{"id":"d1783f93.d1cf","type":"link out","z":"7e8bd831.628288","name":"selecionaOrdem","links":["4fccc181.a0ed7"],"x":1255,"y":920,"wires":[]},{"id":"4fccc181.a0ed7","type":"link in","z":"7e8bd831.628288","name":"atualizaOrdem","links":["d1783f93.d1cf"],"x":135,"y":1060,"wires":[["35f3339f.aed1ac"]]},{"id":"78906282.504f3c","type":"inject","z":"7e8bd831.628288","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":200,"y":1140,"wires":[["7651386b.8ef518"]]},{"id":"7651386b.8ef518","type":"function","z":"7e8bd831.628288","name":"Escreve na tabela","func":"var ordem = flow.get('ordematual') || [];\nif(ordem === null){\n    return msg;\n}\nmsg.payload = ordem;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1140,"wires":[["968684b8.9efc58"]]},{"id":"c7419ee6.3d2f","type":"function","z":"93413fb0.966e1","name":"Process_id","func":"var process_id = global.get(\"process_id\") || 0;\nif (process_id !== 0){\n    msg.enabled = false;\n    return msg;\n}\nif (process_id === 0){\n    msg.enabled = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["44f7b835.806a88"]]},{"id":"9c0c0e6e.6d894","type":"inject","z":"93413fb0.966e1","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":120,"y":440,"wires":[["c7419ee6.3d2f"]]},{"id":"524ee5c4.2c631c","type":"link in","z":"93413fb0.966e1","name":"refreshOrdem","links":["f031ea27.1c2988"],"x":175,"y":140,"wires":[["2cf69f93.c2039","69b8ada9.0fc674"]]},{"id":"f031ea27.1c2988","type":"link out","z":"93413fb0.966e1","name":"encerrarOrdem","links":["524ee5c4.2c631c"],"x":895,"y":760,"wires":[]},{"id":"1d98b379.a9148d","type":"function","z":"93413fb0.966e1","name":"Process_id","func":"var process_id = global.get(\"process_id\") || 0;\nif (process_id !== 150){\n    msg.enabled = false;\n    return msg;\n}\nif (process_id === 150){\n    msg.enabled = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":760,"wires":[["f294fad6.ca9f98"]]},{"id":"721d5d2f.00fa64","type":"inject","z":"93413fb0.966e1","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":120,"y":760,"wires":[["1d98b379.a9148d"]]},{"id":"f5d1240a.3c6048","type":"comment","z":"fa212271.2d00f","name":"Conta peças","info":"Encerra ordem","x":110,"y":200,"wires":[]},{"id":"2fcc03ac.a7c02c","type":"function","z":"fa212271.2d00f","name":"Conta peças","func":"var process_id = global.get(\"process_id\") || 0;\nvar mstatus = global.get('mstatus') || [];\nif (process_id !== 150 || mstatus === 'stopped'){\n    return\n}\nif (process_id === 150 && mstatus === 'running'){\n    return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":260,"wires":[["7be3cc6d.0841b4","4219d97c.508c58"]]},{"id":"74407d11.f7e044","type":"moment","z":"fa212271.2d00f","name":"hour","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"H","locale":"en_US","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":270,"y":100,"wires":[["263ba30b.a72cac"]]},{"id":"d71d3ba9.7ffa88","type":"inject","z":"fa212271.2d00f","name":"exec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["74407d11.f7e044"]]},{"id":"263ba30b.a72cac","type":"function","z":"fa212271.2d00f","name":"set global context","func":"var hour = global.set(\"hour\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[[]]},{"id":"17a325cd.f3e8ba","type":"function","z":"fa212271.2d00f","name":"get seconds of hour","func":"var seconds = global.get('secondsOfHour') || 0;\nvar time = msg.payload.split(\",\");\n\ntime[0] = parseInt(time[0]*60);\ntime[1] = parseInt(time[1]);\n\nseconds = time.reduce(function(anterior, atual) {\n  return anterior + atual;\n});\n\nglobal.set('secondsOfHour',seconds);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[[]]},{"id":"48b7c8f3.15f628","type":"moment","z":"fa212271.2d00f","name":"min/sec","topic":"","input":"","inputType":"date","inTz":"Etc/ETC/GMT","adjAmount":"3","adjType":"hours","adjDir":"subtract","format":"mm,ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":300,"y":140,"wires":[["17a325cd.f3e8ba"]]},{"id":"e4a54177.7e626","type":"inject","z":"fa212271.2d00f","name":"","topic":"","payload":"trigger","payloadType":"str","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["48b7c8f3.15f628"]]},{"id":"7a5edafe.5f53e4","type":"comment","z":"fa212271.2d00f","name":"Contabiliza a hora","info":"Contabiliza a hora","x":130,"y":40,"wires":[]},{"id":"7be3cc6d.0841b4","type":"function","z":"fa212271.2d00f","name":"Dados de Produção","func":"var hour = global.get(\"hour\");\nvar ordem = global.get(\"ordematual\") || [];\nvar goodProduction = ordem.goodProduction;\nvar badProduction = ordem.badProduction;\nvar totalProduction = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n\nif(goodProduction === undefined){\n   goodProduction = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n}\nif(badProduction === undefined){\n   badProduction = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n}\nif(msg.topic === \"good\"){\n    goodProduction[hour] ++;\n}\nif(msg.topic === \"bad\"){\n    badProduction[hour] ++;\n}\n\ntotalProduction[hour] = goodProduction[hour] + badProduction[hour];\nvar ttotalProduction = totalProduction.reduce(function(anterior, atual) {\n  return anterior + atual;\n});\n\nordem.produzido = ttotalProduction;\nordem.goodProduction = goodProduction;\nordem.badProduction = badProduction;\n\nmsg = {\n    \"payload\": ordem,\n}\n\nflow.set(\"totalProduction\",totalProduction);\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":260,"wires":[[]]},{"id":"d6358416.af1598","type":"function","z":"fa212271.2d00f","name":"control random events","func":"if(msg.payload === 'start'){\n    msg.topic = 'control';\n}\nif(msg.payload === 'stop'){\n    msg.topic = 'control';\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["9d6106aa.498138","b352799d.5b8d08"]]},{"id":"29263d46.bfd782","type":"change","z":"fa212271.2d00f","name":"delete trash","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"delay","pt":"msg"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["2fcc03ac.a7c02c"]]},{"id":"e0b42e3f.6f1da","type":"change","z":"fa212271.2d00f","name":"delete trash","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"delay","pt":"msg"},{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":280,"wires":[["2fcc03ac.a7c02c"]]},{"id":"9d6106aa.498138","type":"event","z":"fa212271.2d00f","name":"good production","controlTopic":"control","meanInterval":"1","distribution":"uniform","minInterval":1,"maxInterval":"2","outputTopic":"good","outputPayload":"timestamp","x":670,"y":280,"wires":[["e0b42e3f.6f1da"]]},{"id":"b352799d.5b8d08","type":"event","z":"fa212271.2d00f","name":"bad production","controlTopic":"control","meanInterval":"2","distribution":"uniform","minInterval":"5","maxInterval":"30","outputTopic":"bad","outputPayload":"timestamp","x":660,"y":240,"wires":[["29263d46.bfd782"]]},{"id":"f42279b4.2e00e8","type":"ui_switch","z":"fa212271.2d00f","name":"","label":"Enable random inputs","tooltip":"","group":"361751bb.55a20e","order":13,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"start","onvalueType":"str","onicon":"","oncolor":"","offvalue":"stop","offvalueType":"str","officon":"","offcolor":"","x":140,"y":260,"wires":[["d6358416.af1598"]]},{"id":"4219d97c.508c58","type":"function","z":"fa212271.2d00f","name":"Velocidade da Máquina","func":"var velocity = global.get(\"velocity\") || [];\nvar process_id = global.get(\"process_id\") || [];\nif(process_id !== 150){\n    velocity = 0;\n    msg.payload = (velocity * 30);\n    global.set(\"velocity\",velocity);\n    return msg;\n}\nif(velocity.length === 0){\n   velocity = 0;\n}\nif(msg.topic === \"good\" || msg.topic === \"bad\"){\n    velocity = velocity + 1;\n    context.set(\"velocity\",velocity);\n}\nglobal.set(\"velocity\",velocity);\nif(msg.topic === \"display\"){\n    msg.payload = (velocity * 4);\n    velocity = 0;\n    global.set(\"velocity\",velocity);\n    return msg;\n}","outputs":1,"noerr":0,"x":1330,"y":320,"wires":[["a910df61.a34a4"]]},{"id":"a910df61.a34a4","type":"change","z":"fa212271.2d00f","name":"delete trash","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":320,"wires":[["7ac2cfaf.92b89"]]},{"id":"454fbdf.b6bbd44","type":"change","z":"fa212271.2d00f","name":"delete trash","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":320,"wires":[["4219d97c.508c58"]]},{"id":"7ac2cfaf.92b89","type":"ui_gauge","z":"fa212271.2d00f","name":"","group":"b11f2258.53dd7","order":21,"width":"7","height":"5","gtype":"gage","title":"Velocidade","label":"units/min","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#ffff00","#00ff00"],"seg1":"30","seg2":"60","x":1770,"y":320,"wires":[]},{"id":"7aa92e09.03a12","type":"inject","z":"fa212271.2d00f","name":"display velocity","topic":"display","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":320,"wires":[["454fbdf.b6bbd44"]]},{"id":"e3aa09bf.44c038","type":"debug","z":"7e8bd831.628288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":700,"wires":[]},{"id":"922782a7.5d3ff","type":"comment","z":"fa212271.2d00f","name":"Tempo de Produção","info":"Tempo de Produção","x":130,"y":400,"wires":[]},{"id":"1ee805f9.d78a4a","type":"function","z":"fa212271.2d00f","name":"format time","func":"var seconds = msg.payload;\n\nif(msg.payload === undefined || msg.topic === 'stopped'){\n    seconds = 0;\n}\n\nfunction format(number){\n    if (number <= 9){\n\t    number = \"0\"+number;\n    }\n    return number;\n    }\n\nvar fhour = format(Math.round(seconds/3600));\nvar fmin = format(Math.floor((seconds%3600)/60));\nvar fseg = format((seconds%3600)%60);\n    \nvar formatedTime = fhour+\":\"+fmin+\":\"+fseg;\n\nif(formatedTime === 0){\n    return msg;\n}\nif(formatedTime !== 0){\n    msg.payload = formatedTime;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":460,"wires":[["a28c6410.2ef418"]]},{"id":"a28c6410.2ef418","type":"change","z":"fa212271.2d00f","name":"delete trash","rules":[{"t":"delete","p":"hour","pt":"msg"},{"t":"delete","p":"preState","pt":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":460,"wires":[[]]},{"id":"5709409c.bcace","type":"function","z":"fa212271.2d00f","name":"format time","func":"var seconds = msg.payload;\n\nif(msg.payload === undefined || msg.topic === 'stopped'){\n    seconds = 0;\n}\n\nfunction format(number){\n    if (number <= 9){\n\t    number = \"0\"+number;\n    }\n    return number;\n    }\n\nvar fhour = format(Math.round(seconds/3600));\nvar fmin = format(Math.floor((seconds%3600)/60));\nvar fseg = format((seconds%3600)%60);\n    \nvar formatedTime = fhour+\":\"+fmin+\":\"+fseg;\n\nif(formatedTime === 0){\n    return msg;\n}\nif(formatedTime !== 0){\n    msg.payload = formatedTime;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":520,"wires":[["e3a67c2c.629e5"]]},{"id":"e3a67c2c.629e5","type":"change","z":"fa212271.2d00f","name":"delete trash","rules":[{"t":"delete","p":"hour","pt":"msg"},{"t":"delete","p":"preState","pt":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":520,"wires":[[]]},{"id":"44ffe7e1.5c0288","type":"function","z":"fa212271.2d00f","name":"get stop time","func":"var hour = global.get('hour');\nvar time = global.get(\"timeStopMachine\") || [];\nvar stime = msg.payload;\n\nvar test = isNaN(stime);\n\nif(test === true){\n    stime = 0;\n}\n\nif(time.length === 0){\n    time=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n}\nif(msg.payload === 0){\n    stime = 0;\n}\n\ntime[hour] = time[hour] + stime - (stime - 1);\nif(time[hour] < 0){\n    time[hour] = 0;\n}\n\nglobal.set(\"timeStopMachine\",time);\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":560,"wires":[[]]},{"id":"6dfecb95.e008f4","type":"dsm","z":"fa212271.2d00f","name":"running count time","sm_config":"{\n    \"currentState\": \"stopped\",\n    \"states\": {\n        \"stopped\": {\n            \"on\": \"started\"\n        },\n        \"started\": {\n            \"inc\": \"counting\",\n            \"off\": \"stopped\"\n        },\n        \"counting\": {\n            \"inc\": \"counting\",\n            \"off\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"prev_time\": null,\n        \"time\": 0,\n        \"seconds\": 0,\n        \"interval\": 1\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.calc_time = function () {\",\n            \"   var now = Date.now();\",\n            \"   sm.data.time += now - sm.data.prev_time;\",\n            \"   sm.data.prev_time = now;\",\n            \"   sm.data.seconds = Math.round(sm.data.time / 1000);\",\n            \"}\"\n        ],\n        \"on\": [\n            \"if (sm.currentState === 'started') {\",\n            \"   sm.data.prev_time = Date.now();\",\n            \"   node.send(msg);\",\n            \"   resume('inc', msg);\",\n            \"}\",\n            \"output = false;\"\n        ],\n        \"inc\": [\n            \"timeout.interval = setTimeout(function() {\",\n            \"   sm.calc_time();\",\n            \"   msg.data = sm.data;\",\n            \"   msg.payload = sm.data.seconds;\",\n            \"   node.send(msg);\",\n            \"   resume('inc', msg);\",\n            \"}, sm.data.interval*1000);\",\n            \"output = false;\"\n        ],\n        \"off\": [\n            \"clearTimeout(timeout.interval);\",\n            \"sm.calc_time();\",\n            \"msg.payload = sm.data.seconds;\",\n            \"sm.data.time = 0;\",\n            \"sm.data.seconds = 0;\"\n        ],\n        \"reset\": [\n            \"sm.data.time = 0;\",\n            \"sm.data.seconds = 0;\"\n        ],\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'counting' ? 'green' : 'grey';\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"'time '+ sm.data.seconds;\"\n            }\n        }\n    }\n}","x":640,"y":460,"wires":[["1ee805f9.d78a4a"]]},{"id":"4b25d8c4.fe9a78","type":"dsm","z":"fa212271.2d00f","name":"running count time","sm_config":"{\n    \"currentState\": \"stopped\",\n    \"states\": {\n        \"stopped\": {\n            \"off\": \"started\"\n        },\n        \"started\": {\n            \"inc\": \"counting\",\n            \"on\": \"stopped\"\n        },\n        \"counting\": {\n            \"inc\": \"counting\",\n            \"on\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"prev_time\": null,\n        \"time\": 0,\n        \"seconds\": 0,\n        \"interval\": 1\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.calc_time = function () {\",\n            \"   var now = Date.now();\",\n            \"   sm.data.time += now - sm.data.prev_time;\",\n            \"   sm.data.prev_time = now;\",\n            \"   sm.data.seconds = Math.round(sm.data.time / 1000);\",\n            \"}\"\n        ],\n        \"off\": [\n            \"if (sm.currentState === 'started') {\",\n            \"   sm.data.prev_time = Date.now();\",\n            \"   node.send(msg);\",\n            \"   resume('inc', msg);\",\n            \"}\",\n            \"output = false;\"\n        ],\n        \"inc\": [\n            \"timeout.interval = setTimeout(function() {\",\n            \"   sm.calc_time();\",\n            \"   msg.data = sm.data;\",\n            \"   msg.payload = sm.data.seconds;\",\n            \"   node.send(msg);\",\n            \"   resume('inc', msg);\",\n            \"}, sm.data.interval*1000);\",\n            \"output = false;\"\n        ],\n        \"on\": [\n            \"clearTimeout(timeout.interval);\",\n            \"sm.calc_time();\",\n            \"msg.payload = sm.data.seconds;\",\n            \"sm.data.time = 0;\",\n            \"sm.data.seconds = 0;\"\n        ],\n        \"reset\": [\n            \"sm.data.time = 0;\",\n            \"sm.data.seconds = 0;\"\n        ],\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'counting' ? 'green' : 'grey';\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"'time '+ sm.data.seconds;\"\n            }\n        }\n    }\n}","x":640,"y":520,"wires":[["5709409c.bcace","44ffe7e1.5c0288"]]},{"id":"3317490.7ad59b8","type":"function","z":"fa212271.2d00f","name":"get machine status","func":"if(msg.payload === 'running'){\n    var mstatus = 'running';\n    msg.topic = 'on';\n}\nif(msg.payload === 'stopped'){\n    var mstatus = 'stopped';\n    msg.topic = 'off';\n}\nglobal.set('mstatus',mstatus);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["6dfecb95.e008f4","4b25d8c4.fe9a78"]]},{"id":"65f73755.751278","type":"ui_switch","z":"fa212271.2d00f","name":"","label":"Enable run machine","tooltip":"","group":"361751bb.55a20e","order":13,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"running","onvalueType":"str","onicon":"","oncolor":"","offvalue":"stopped","offvalueType":"str","officon":"","offcolor":"","x":140,"y":460,"wires":[["3317490.7ad59b8"]]},{"id":"32c1b822.ccef58","type":"dsm","z":"fa212271.2d00f","name":"running count time","sm_config":"{\n    \"currentState\": \"stopped\",\n    \"states\": {\n        \"stopped\": {\n            \"on\": \"started\"\n        },\n        \"started\": {\n            \"inc\": \"counting\",\n            \"off\": \"stopped\"\n        },\n        \"counting\": {\n            \"inc\": \"counting\",\n            \"off\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"prev_time\": null,\n        \"time\": 0,\n        \"seconds\": 0,\n        \"interval\": 1\n    },\n    \"methods\": {\n        \"init\": [\n            \"sm.calc_time = function () {\",\n            \"   var now = Date.now();\",\n            \"   sm.data.time += now - sm.data.prev_time;\",\n            \"   sm.data.prev_time = now;\",\n            \"   sm.data.seconds = Math.round(sm.data.time / 1000);\",\n            \"}\"\n        ],\n        \"on\": [\n            \"if (sm.currentState === 'started') {\",\n            \"   sm.data.prev_time = Date.now();\",\n            \"   node.send(msg);\",\n            \"   resume('inc', msg);\",\n            \"}\",\n            \"output = false;\"\n        ],\n        \"inc\": [\n            \"timeout.interval = setTimeout(function() {\",\n            \"   sm.calc_time();\",\n            \"   msg.data = sm.data;\",\n            \"   msg.payload = sm.data.seconds;\",\n            \"   node.send(msg);\",\n            \"   resume('inc', msg);\",\n            \"}, sm.data.interval*1000);\",\n            \"output = false;\"\n        ],\n        \"off\": [\n            \"clearTimeout(timeout.interval);\",\n            \"sm.calc_time();\",\n            \"msg.payload = sm.data.seconds;\",\n            \"sm.data.time = 0;\",\n            \"sm.data.seconds = 0;\"\n        ],\n        \"reset\": [\n            \"sm.data.time = 0;\",\n            \"sm.data.seconds = 0;\"\n        ],\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'counting' ? 'green' : 'grey';\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"'time '+ sm.data.seconds;\"\n            }\n        }\n    }\n}","x":560,"y":620,"wires":[["e32678c5.20cf48"]]},{"id":"44c0d172.0fd9","type":"inject","z":"fa212271.2d00f","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["c64fba98.829b28"]]},{"id":"c64fba98.829b28","type":"function","z":"fa212271.2d00f","name":"Process_id","func":"var process_id = global.get(\"process_id\") || [];\nvar ordem = global.get(\"ordematual\") || [];\nif (process_id === 150){\n    msg.topic = 'on'\n    return msg;\n}\nif(process_id !== 150){\n    msg.topic = 'off';\n    return msg;\n}","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["32c1b822.ccef58"]]},{"id":"e32678c5.20cf48","type":"function","z":"fa212271.2d00f","name":"format time","func":"var seconds = msg.payload;\n\nif(msg.payload === undefined || msg.topic === 'stopped'){\n    seconds = 0;\n}\n\nfunction format(number){\n    if (number <= 9){\n\t    number = \"0\"+number;\n    }\n    return number;\n    }\n\nvar fhour = format(Math.round(seconds/3600));\nvar fmin = format(Math.floor((seconds%3600)/60));\nvar fseg = format((seconds%3600)%60);\n    \nvar formatedTime = fhour+\":\"+fmin+\":\"+fseg;\n\nif(formatedTime === 0){\n    return msg;\n}\nif(formatedTime !== 0){\n    msg.payload = formatedTime;\n}\n\nmsg.seconds = seconds;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["4b64b7d6.604b18"]]},{"id":"4b64b7d6.604b18","type":"change","z":"fa212271.2d00f","name":"","rules":[{"t":"set","p":"ordematual.tproduzido","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"ordematual.tproduzidoS","pt":"global","to":"seconds","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":620,"wires":[[]]},{"id":"9049ec7a.dd34c","type":"inject","z":"fa212271.2d00f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["c3e4cf9c.c39f7"]]},{"id":"4a5b149d.eaf2bc","type":"ui_template","z":"fa212271.2d00f","group":"1ae62bb.82f3bd4","name":"Custom element style","order":0,"width":0,"height":0,"format":"<style>\n #level-hor-value {\n font-size: 1.4em;\n fill:#d0d0d0;\n }\n #level-minmax {\n font-size: 60%;\n fill:#d0d0d0;\n }\n #level-3x3-stripe {\n fill: #404040;\n }\n #level-ver-value {\n font-size: 1.8em;\n fill:#d0d0d0;\n }\n #chart-hour {\n font-size: 60%;\n fill:#d0d0d0;\n }\n #chart-stripe {\n fill: #404040;\n }\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":540,"y":780,"wires":[[]]},{"id":"61e9eb47.52d404","type":"inject","z":"fa212271.2d00f","name":"init","topic":"init","payload":"create","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[["cb0e69c1.adf948"]]},{"id":"cb0e69c1.adf948","type":"function","z":"fa212271.2d00f","name":"set site properties","func":"var unit = {\"h\":48,w:48}; // site sizes 1x1 wdget size\nvar colormap = {on:\"#47d147\",off:\"dimgrey\",warn:\"#ff9933\", high:\"#ff5c33\"} // green, gray, orange, red \nvar site = {\"unit\":unit,\"widgetcolors\":colormap}; //merge to store to global as one variable\nglobal.set(\"site\",site);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":780,"wires":[["4a5b149d.eaf2bc"]]},{"id":"337a0edc.5e3452","type":"ui_template","z":"fa212271.2d00f","group":"b11f2258.53dd7","name":"svg level horizontal 4x1","order":4,"width":"4","height":"1","format":"<svg width=100% height=100%>\n <defs>\n <filter id=\"level-filter\" x=\"0\" y=\"0\" width=\"200%\" height=\"200%\">\n <feOffset result=\"offOut\" in=\"SourceGraphic\" dx=\"1\" dy=\"1\" />\n <feColorMatrix result=\"matrixOut\" in=\"offOut\" type=\"matrix\"\n values=\"0.1 0 0 0 0 0 0.1 0 0 0 0 0 0.1 0 0 0 0 0 1 0\" />\n <feGaussianBlur result=\"blurOut\" in=\"matrixOut\" stdDeviation=\"5\" />\n <feBlend in=\"SourceGraphic\" in2=\"blurOut\" mode=\"normal\" />\n </filter>\n </defs>\n <rect ng-repeat=\"obj in msg.colors track by $index\" \n y=80% \n ng:attr:x=\"{{$index * 4}}px\"\n width=\"2\"\n height=\"6\" \n style=\"fill:{{msg.colors[$index]}}\" filter=\"url(#level-filter)\"\n />\n <text id=\"level-hor-value\"\n text-anchor=\"middle\" alignment-baseline=\"hanging\"\n x=50%\n y=0>\n {{msg.value}}{{msg.valuesuffix}}\n </text>\n <text id=\"level-minmax\"\n text-anchor=\"start\" alignment-baseline=\"ideographic\"\n x=0\n y=85%>\n {{msg.min}}\n </text>\n <text id=\"level-minmax\"\n text-anchor=\"end\" alignment-baseline=\"ideographic\"\n x=100%\n y=85%>\n {{msg.max}}\n </text>\n</svg> ","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":730,"y":840,"wires":[[]]},{"id":"c3e4cf9c.c39f7","type":"function","z":"fa212271.2d00f","name":"Configure","func":"msg.value = parseInt(((global.get(\"ordematual\").produzido*100)/global.get(\"ordematual\").quantidade)*100)/100;\nmsg.min = 0; //expected minimum value of incoming data\nmsg.max = 100; //expected maximum value of incoming data\nmsg.valuesuffix = \"%\" //kind of data \nmsg.direction = \"horizontal\"; //widget look\nmsg.units = 4; //how many units widget takes in direction \n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":840,"wires":[["a323bf6.4ed354"]]},{"id":"a323bf6.4ed354","type":"function","z":"fa212271.2d00f","name":"Generate","func":"//drawing of stripes will be done on exact pixels to avoid blur\n//calculated count of stripes will not fill 100% of area.\n\n\n// get global variables\nvar unit = global.get(\"site\").unit.h;\nvar colormap = global.get(\"site\").widgetcolors;\n// declare local variables\nvar c;\nvar colors = [];\n\n// how many stripes should be drawn according to calculated widget size\nvar count = Math.floor(unit * msg.units / 4) - 2; \n\n// parameters for range incoming values into size of widget\nvar params = {minin:msg.min, maxin:msg.max+1, minout:0, maxout:count};\n\n// range\nfunction range(n,params){\n var divisor = params.maxin - params.minin;\n n = ((n - params.minin) % divisor + divisor) % divisor + params.minin;\n n = ((n - params.minin) / (params.maxin - params.minin) * (params.maxout - params.minout)) + params.minout;\n return n;\n}\nvar rangedvalue = Math.round(range(msg.value,params));\n\n// determine color for each stripe\nfor(var i=0; i<count; i++){\n c = rangedvalue <= i ? colormap.off : ( i < (count-5) ? colormap.on : ( i < (count-2) ? colormap.warn : colormap.high));\n colors.push(c);\n}\n//vertical starts drawing from top. colors needed to be in reverse order \nif(msg.direction === \"vertical\"){\n colors.reverse();\n}\n\n// set msg parameters\nmsg.colors = colors;\n\n// for vertical, the last stripe will not be at the bottom exactly.\n// for adjusting min value position.\nmsg.minpos = count*4; \nreturn msg;","outputs":1,"noerr":0,"x":500,"y":840,"wires":[["337a0edc.5e3452"]]},{"id":"214a25f0.e7535a","type":"comment","z":"fa212271.2d00f","name":"Gráficos Lineares","info":"Gráficos Lineares","x":130,"y":720,"wires":[]},{"id":"de2cbc5e.e756e","type":"inject","z":"fa212271.2d00f","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":900,"wires":[["6ca9c3a9.2d8f3c"]]},{"id":"66c83f1e.e3588","type":"ui_template","z":"fa212271.2d00f","group":"b11f2258.53dd7","name":"svg level horizontal 4x1","order":4,"width":"4","height":"1","format":"<svg width=100% height=100%>\n <defs>\n <filter id=\"level-filter\" x=\"0\" y=\"0\" width=\"200%\" height=\"200%\">\n <feOffset result=\"offOut\" in=\"SourceGraphic\" dx=\"1\" dy=\"1\" />\n <feColorMatrix result=\"matrixOut\" in=\"offOut\" type=\"matrix\"\n values=\"0.1 0 0 0 0 0 0.1 0 0 0 0 0 0.1 0 0 0 0 0 1 0\" />\n <feGaussianBlur result=\"blurOut\" in=\"matrixOut\" stdDeviation=\"5\" />\n <feBlend in=\"SourceGraphic\" in2=\"blurOut\" mode=\"normal\" />\n </filter>\n </defs>\n <rect ng-repeat=\"obj in msg.colors track by $index\" \n y=80% \n ng:attr:x=\"{{$index * 4}}px\"\n width=\"2\"\n height=\"6\" \n style=\"fill:{{msg.colors[$index]}}\" filter=\"url(#level-filter)\"\n />\n <text id=\"level-hor-value\"\n text-anchor=\"middle\" alignment-baseline=\"hanging\"\n x=50%\n y=0>\n {{msg.value}}{{msg.valuesuffix}}\n </text>\n <text id=\"level-minmax\"\n text-anchor=\"start\" alignment-baseline=\"ideographic\"\n x=0\n y=85%>\n {{msg.min}}\n </text>\n <text id=\"level-minmax\"\n text-anchor=\"end\" alignment-baseline=\"ideographic\"\n x=100%\n y=85%>\n {{msg.max}}\n </text>\n</svg> ","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":730,"y":900,"wires":[[]]},{"id":"6ca9c3a9.2d8f3c","type":"function","z":"fa212271.2d00f","name":"Configure","func":"msg.value = parseInt(((global.get(\"ordematual\").tproduzidoS*100)/global.get(\"ordematual\").tempoS)*100)/100; //expected to be a number\nmsg.min = 0; //expected minimum value of incoming data\nmsg.max = 100; //expected maximum value of incoming data\nmsg.valuesuffix = \"%\" //kind of data \nmsg.direction = \"horizontal\"; //widget look\nmsg.units = 4; //how many units widget takes in direction \n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":900,"wires":[["2dcc2a50.2ddb76"]]},{"id":"2dcc2a50.2ddb76","type":"function","z":"fa212271.2d00f","name":"Generate","func":"//drawing of stripes will be done on exact pixels to avoid blur\n//calculated count of stripes will not fill 100% of area.\n\n\n// get global variables\nvar unit = global.get(\"site\").unit.h;\nvar colormap = global.get(\"site\").widgetcolors;\n// declare local variables\nvar c;\nvar colors = [];\n\n// how many stripes should be drawn according to calculated widget size\nvar count = Math.floor(unit * msg.units / 4) - 2; \n\n// parameters for range incoming values into size of widget\nvar params = {minin:msg.min, maxin:msg.max+1, minout:0, maxout:count};\n\n// range\nfunction range(n,params){\n var divisor = params.maxin - params.minin;\n n = ((n - params.minin) % divisor + divisor) % divisor + params.minin;\n n = ((n - params.minin) / (params.maxin - params.minin) * (params.maxout - params.minout)) + params.minout;\n return n;\n}\nvar rangedvalue = Math.round(range(msg.value,params));\n\n// determine color for each stripe\nfor(var i=0; i<count; i++){\n c = rangedvalue <= i ? colormap.off : ( i < (count-5) ? colormap.on : ( i < (count-2) ? colormap.warn : colormap.high));\n colors.push(c);\n}\n//vertical starts drawing from top. colors needed to be in reverse order \nif(msg.direction === \"vertical\"){\n colors.reverse();\n}\n\n// set msg parameters\nmsg.colors = colors;\n\n// for vertical, the last stripe will not be at the bottom exactly.\n// for adjusting min value position.\nmsg.minpos = count*4; \nreturn msg;","outputs":1,"noerr":0,"x":500,"y":900,"wires":[["66c83f1e.e3588"]]}]