flow.json
[{"id":"49ecca28.ef9cc4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"deb5e2ac.bf7d9","type":"ui_tab","z":"","name":"SKU","icon":"receipt","disabled":false,"hidden":false},{"id":"62eb2591.81fb2c","type":"ui_group","z":"","name":"Criar novo SKU","tab":"deb5e2ac.bf7d9","disp":true,"width":"10","collapse":true},{"id":"90d07383.5a36","type":"cloudant","z":"","host":"8c46d960-1fe3-4931-a83e-2c1842052ecb-bluemix.cloudant.com","name":"BD Cloudant"},{"id":"1fcaf060.6cd5f","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"IIoT","default":"#4B7930","baseColor":"#3e4fe6","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#3e4fe6","edited":true},"page-titlebar-backgroundColor":{"value":"#3e4fe6","edited":false},"page-backgroundColor":{"value":"#b9b9b9","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#828def","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#3e4fe6","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"485819ea.514d78","type":"ui_group","z":"","name":"Gerenciamento de SKU","tab":"deb5e2ac.bf7d9","disp":true,"width":"10","collapse":true},{"id":"651025b6.e25e6c","type":"ui_spacer","name":"spacer","group":"485819ea.514d78","order":5,"width":"10","height":"2"},{"id":"2cfb9136.b0c45e","type":"ui_form","z":"49ecca28.ef9cc4","name":"","label":"Criar nova receita","group":"62eb2591.81fb2c","order":1,"width":0,"height":0,"options":[{"label":"Nome do SKU","value":"sku","type":"text","required":true},{"label":"Velocidade padrão (pçs/min)","value":"velocidade","type":"number","required":true}],"formValue":{"sku":"","velocidade":""},"payload":"","submit":"Salvar","cancel":"Limpar","topic":"","x":210,"y":240,"wires":[["6a74e635.460d18"]]},{"id":"497f304e.70cbb","type":"cloudant out","z":"49ecca28.ef9cc4","name":"Salvar SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","payonly":false,"operation":"insert","x":810,"y":240,"wires":[]},{"id":"881811d5.21d58","type":"function","z":"49ecca28.ef9cc4","name":"Cria ciclo e _id","func":"msg.payload.ciclo = parseInt((msg.payload.velocidade / 60)*1000)/1000;\nmsg._id = msg.payload.sku;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["497f304e.70cbb","fbb09446.228258"]]},{"id":"6a74e635.460d18","type":"moment","z":"49ecca28.ef9cc4","name":"Data","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY - HH:mm:ss","locale":"pt_BR","output":"payload.data","outputType":"msg","outTz":"America/Sao_Paulo","x":410,"y":240,"wires":[["881811d5.21d58"]]},{"id":"317c7761.2c0f48","type":"cloudant in","z":"49ecca28.ef9cc4","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_all_","design":"","index":"","x":700,"y":360,"wires":[["14d3f64b.fbc96a"]]},{"id":"14d3f64b.fbc96a","type":"function","z":"49ecca28.ef9cc4","name":"Exec push","func":"var lista = msg.payload\nvar index = msg.payload.length\nmsg.payload = []\nfor (index in lista){\n    msg.payload.push(lista[index].payload.sku)\n}\nglobal.set(\"listasku\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[[]]},{"id":"42fcae2e.9930b","type":"delay","z":"49ecca28.ef9cc4","name":"Tempo","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":360,"wires":[["317c7761.2c0f48"]]},{"id":"6b904b6d.f387c4","type":"comment","z":"49ecca28.ef9cc4","name":"Criar um novo SKU","info":"Criar um novo SKU","x":210,"y":200,"wires":[]},{"id":"ba141daa.5a9db","type":"comment","z":"49ecca28.ef9cc4","name":"Após criar e deletar atualiza lista de SKU","info":"Após criar e deletar atualiza lista de SKU","x":280,"y":300,"wires":[]},{"id":"fbb09446.228258","type":"link out","z":"49ecca28.ef9cc4","name":"triggerCriarSKU","links":["c331df92.6d041"],"x":755,"y":280,"wires":[]},{"id":"c331df92.6d041","type":"link in","z":"49ecca28.ef9cc4","name":"atulizaListaSKU","links":["fbb09446.228258","4488759a.248fac","926f15c2.c35308"],"x":135,"y":360,"wires":[["b1040f1b.863f5"]]},{"id":"24b0d504.80da4a","type":"comment","z":"49ecca28.ef9cc4","name":"Seleciona um SKU para deletar","info":"Seleciona um SKU para deletar","x":250,"y":560,"wires":[]},{"id":"2ffc2fbf.07eb4","type":"ui_dropdown","z":"49ecca28.ef9cc4","name":"Droplist deletar SKU","label":"Selecione um SKU para apagar","tooltip":"","place":"Select option","group":"485819ea.514d78","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":300,"y":620,"wires":[["54e0f6c8.389fc8"]]},{"id":"a7b8fbce.99ddf8","type":"ui_button","z":"49ecca28.ef9cc4","name":"Limpar","group":"485819ea.514d78","order":3,"width":"4","height":"1","passthru":false,"label":"Cancelar","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"null","payloadType":"json","topic":"","x":170,"y":760,"wires":[["bdfecda2.8ea9e"]]},{"id":"d643e6ff.de82f8","type":"comment","z":"49ecca28.ef9cc4","name":"Limpa a lista de SKU para deletar","info":"Limpa a lista de SKU para deletar","x":250,"y":700,"wires":[]},{"id":"bdfecda2.8ea9e","type":"link out","z":"49ecca28.ef9cc4","name":"limpaLista","links":["ccccb9d6.f9c638","f979583b.ed2f08"],"x":295,"y":760,"wires":[]},{"id":"ccccb9d6.f9c638","type":"link in","z":"49ecca28.ef9cc4","name":"limpaListaSKU","links":["394d67a3.ae8a48","4488759a.248fac","bdfecda2.8ea9e","926f15c2.c35308"],"x":135,"y":620,"wires":[["2ffc2fbf.07eb4"]]},{"id":"54e0f6c8.389fc8","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"deletarSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":620,"wires":[[]]},{"id":"f979583b.ed2f08","type":"link in","z":"49ecca28.ef9cc4","name":"limpaContentSKU","links":["bdfecda2.8ea9e","4488759a.248fac","926f15c2.c35308"],"x":395,"y":660,"wires":[["54e0f6c8.389fc8"]]},{"id":"3e18e5c8.d79eba","type":"comment","z":"49ecca28.ef9cc4","name":"Deleta SKU selecionado","info":"Deleta SKU selecionado","x":230,"y":820,"wires":[]},{"id":"46aabcc5.006ed4","type":"ui_button","z":"49ecca28.ef9cc4","name":"Apagar","group":"485819ea.514d78","order":4,"width":"4","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"null","payloadType":"json","topic":"","x":180,"y":880,"wires":[["af3b5319.53d54","4488759a.248fac"]]},{"id":"af3b5319.53d54","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deletarSKU","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["66d99031.ea83c"]]},{"id":"66d99031.ea83c","type":"cloudant in","z":"49ecca28.ef9cc4","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_id_","design":"","index":"","x":600,"y":880,"wires":[["ab2ae5e7.aff1c8"]]},{"id":"ab2ae5e7.aff1c8","type":"cloudant out","z":"49ecca28.ef9cc4","name":"Deletar SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","payonly":false,"operation":"delete","x":810,"y":880,"wires":[]},{"id":"4488759a.248fac","type":"link out","z":"49ecca28.ef9cc4","name":"apagaSKU","links":["c331df92.6d041","ccccb9d6.f9c638","f979583b.ed2f08"],"x":315,"y":920,"wires":[]},{"id":"b1040f1b.863f5","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[["42fcae2e.9930b"]]},{"id":"787cd8de.f4ca58","type":"catch","z":"49ecca28.ef9cc4","name":"Catch SKU repetido","scope":["497f304e.70cbb"],"uncaught":false,"x":210,"y":1440,"wires":[["5e51494a.f5fef8"]]},{"id":"b6bec578.3db568","type":"comment","z":"49ecca28.ef9cc4","name":"Try catch para erros do BD","info":"Try catch para erros do BD","x":230,"y":1380,"wires":[]},{"id":"5e51494a.f5fef8","type":"function","z":"49ecca28.ef9cc4","name":"Reposta","func":"if(msg.error.message === 'Failed to insert document: couch returned 409'){\n    msg.payload = [];\n    msg.payload = 'Este SKU já existe';\n    return msg\n}\n","outputs":1,"noerr":0,"x":420,"y":1440,"wires":[["5edfb9c9.fb5298"]]},{"id":"5edfb9c9.fb5298","type":"ui_toast","z":"49ecca28.ef9cc4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Ok","cancel":"","topic":"","name":"Alerta","x":590,"y":1440,"wires":[[]]},{"id":"4af72fce.bb7a9","type":"comment","z":"49ecca28.ef9cc4","name":"Alterar SKU","info":"Alterar SKU","x":190,"y":980,"wires":[]},{"id":"adf16cf6.ad84e","type":"ui_dropdown","z":"49ecca28.ef9cc4","name":"Droplist deletar SKU","label":"Selecione um SKU para alterar","tooltip":"","place":"Select option","group":"485819ea.514d78","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":320,"y":1040,"wires":[["94d1bfa9.e87e2"]]},{"id":"da097889.5d5e98","type":"comment","z":"49ecca28.ef9cc4","name":"Atualiza lista de SKU","info":"Atualiza lista de SKU","x":220,"y":420,"wires":[]},{"id":"d38269bb.212ab8","type":"inject","z":"49ecca28.ef9cc4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":480,"wires":[["3bbc91d2.95a70e"]]},{"id":"3bbc91d2.95a70e","type":"function","z":"49ecca28.ef9cc4","name":"Escreve lista","func":"var lista = global.get(\"listasku\") || [];\nvar listaatual = flow.get('listaskuatual') || [];\nif (lista.length != listaatual.length || msg.payload === 'init'){\n    flow.set('listaskuatual',lista)\n    msg.options = lista\n    return msg\n}","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["394d67a3.ae8a48"]]},{"id":"394d67a3.ae8a48","type":"link out","z":"49ecca28.ef9cc4","name":"listaSKUAtualizada","links":["36006f00.5b3c62","ccccb9d6.f9c638"],"x":535,"y":480,"wires":[]},{"id":"36006f00.5b3c62","type":"link in","z":"49ecca28.ef9cc4","name":"dropAtualizaSKU","links":["394d67a3.ae8a48","a49488a8.c5c838"],"x":135,"y":1040,"wires":[["adf16cf6.ad84e"]]},{"id":"94d1bfa9.e87e2","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"alterarSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1040,"wires":[["90adfa82.aa99f8"]]},{"id":"90adfa82.aa99f8","type":"cloudant in","z":"49ecca28.ef9cc4","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_id_","design":"","index":"","x":800,"y":1040,"wires":[["68aa8376.6df53c"]]},{"id":"68aa8376.6df53c","type":"function","z":"49ecca28.ef9cc4","name":"Split","func":"var msg1 = { payload: msg.payload.payload.sku,\n             enabled: true};\nvar msg2 = { payload: msg.payload.payload.velocidade,\n             enabled: true};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":1000,"y":1040,"wires":[["84b98fa9.131ab"],["6749a804.460438"]]},{"id":"84b98fa9.131ab","type":"ui_text_input","z":"49ecca28.ef9cc4","name":"Nome do SKU","label":"Nome do SKU","tooltip":"","group":"485819ea.514d78","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":1200,"y":1020,"wires":[["897db7f2.526ee8"]]},{"id":"6749a804.460438","type":"ui_text_input","z":"49ecca28.ef9cc4","name":"Velocidade do SKU","label":"Velocidade do SKU","tooltip":"","group":"485819ea.514d78","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":1210,"y":1060,"wires":[["7e8cff8f.2c71"]]},{"id":"897db7f2.526ee8","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"novoNomeSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":1020,"wires":[[]]},{"id":"7e8cff8f.2c71","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"novaVelocidadeSKU","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1060,"wires":[[]]},{"id":"6d2794d8.22c80c","type":"ui_button","z":"49ecca28.ef9cc4","name":"Limpar","group":"485819ea.514d78","order":8,"width":"4","height":"1","passthru":false,"label":"Cancelar","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":" null","payloadType":"num","topic":"","x":190,"y":1320,"wires":[["b8f57356.c9313","8c18bcdb.aae78"]]},{"id":"bd9f864d.3678f8","type":"comment","z":"49ecca28.ef9cc4","name":"Inicialização","info":"Inicialização","x":190,"y":40,"wires":[]},{"id":"5bcb1fd5.791eb","type":"inject","z":"49ecca28.ef9cc4","name":"Inicialização","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":100,"wires":[["b20f1e91.509b1","4d5f434a.8352bc"]]},{"id":"baa4226.298fee","type":"comment","z":"49ecca28.ef9cc4","name":"Limpa a lista de SKU para alterar","info":"Limpa a lista de SKU para alterar","x":250,"y":1260,"wires":[]},{"id":"b8f57356.c9313","type":"link out","z":"49ecca28.ef9cc4","name":"limpaAlterarSKU","links":["41f89d1b.fc9234"],"x":315,"y":1300,"wires":[]},{"id":"41f89d1b.fc9234","type":"link in","z":"49ecca28.ef9cc4","name":"limpaAlterarSKU","links":["b8f57356.c9313","2a04df1.48afb2"],"x":1035,"y":1080,"wires":[["84b98fa9.131ab","6749a804.460438"]]},{"id":"2a04df1.48afb2","type":"link out","z":"49ecca28.ef9cc4","name":"bloqueiaAlterarSKU","links":["41f89d1b.fc9234"],"x":555,"y":100,"wires":[]},{"id":"b20f1e91.509b1","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"  ","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["2a04df1.48afb2"]]},{"id":"4d5f434a.8352bc","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["29cfb9d0.da24c6"]]},{"id":"29cfb9d0.da24c6","type":"link out","z":"49ecca28.ef9cc4","name":"inicializaListas","links":["496b4092.dc502"],"x":555,"y":140,"wires":[]},{"id":"496b4092.dc502","type":"link in","z":"49ecca28.ef9cc4","name":"inicializaListas","links":["29cfb9d0.da24c6"],"x":255,"y":520,"wires":[["3bbc91d2.95a70e"]]},{"id":"ad4f101d.33aaf","type":"ui_button","z":"49ecca28.ef9cc4","name":"Alterar","group":"485819ea.514d78","order":9,"width":"4","height":"1","passthru":false,"label":"Alterar","tooltip":"","color":"","bgcolor":"","icon":"autorenew","payload":"","payloadType":"str","topic":"","x":170,"y":1100,"wires":[["cb5a4e6a.9ae44","e0a5e8e4.a23498"]]},{"id":"cb5a4e6a.9ae44","type":"link out","z":"49ecca28.ef9cc4","name":"apagarCamposAlterar","links":["48b966f1.0b0a58"],"x":275,"y":1140,"wires":[]},{"id":"e0a5e8e4.a23498","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"alterarSKU","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1100,"wires":[["bf85037.ecf66"]]},{"id":"bf85037.ecf66","type":"cloudant in","z":"49ecca28.ef9cc4","name":"Consulta SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","search":"_id_","design":"","index":"","x":580,"y":1100,"wires":[["99c51a01.0a6158"]]},{"id":"99c51a01.0a6158","type":"cloudant out","z":"49ecca28.ef9cc4","name":"Deletar SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","payonly":false,"operation":"delete","x":790,"y":1100,"wires":[]},{"id":"48b966f1.0b0a58","type":"link in","z":"49ecca28.ef9cc4","name":"alterarSKU","links":["cb5a4e6a.9ae44"],"x":135,"y":1200,"wires":[["fef618f4.eea998"]]},{"id":"c4e16a49.5c8098","type":"cloudant out","z":"49ecca28.ef9cc4","name":"Salvar SKU","cloudant":"90d07383.5a36","database":"listadesku","service":"_ext_","payonly":false,"operation":"insert","x":670,"y":1200,"wires":[]},{"id":"4061ff31.9db4b","type":"function","z":"49ecca28.ef9cc4","name":"Altera SKU","func":"msg.payload.sku = flow.get('novoNomeSKU');\nmsg.payload.velocidade = flow.get('novaVelocidadeSKU');\nmsg.payload.ciclo = parseInt((msg.payload.velocidade / 60)*1000)/1000;\nmsg._id = msg.payload.sku;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1200,"wires":[["c4e16a49.5c8098"]]},{"id":"fef618f4.eea998","type":"moment","z":"49ecca28.ef9cc4","name":"Data","topic":"","input":"","inputType":"date","inTz":"America/Sao_Paulo","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD/MM/YYYY - HH:mm:ss","locale":"pt_BR","output":"payload.data","outputType":"msg","outTz":"America/Sao_Paulo","x":270,"y":1200,"wires":[["4061ff31.9db4b"]]},{"id":"a49488a8.c5c838","type":"link out","z":"49ecca28.ef9cc4","name":"nullAlterarSKU","links":["36006f00.5b3c62"],"x":535,"y":1340,"wires":[]},{"id":"8c18bcdb.aae78","type":"change","z":"49ecca28.ef9cc4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1340,"wires":[["a49488a8.c5c838"]]}]